<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8;charset=utf-8" />
<title>Oups !! 503: Service unavailable</title>
<link rel="stylesheet" type="text/css" media="screen" href="../css/50x.css" charset="utf-8"/>
</head>
<body>
	<div id="xo-siteblocked">
		<h1>A problem has occurred on our server!</h1>
		<h2>Site is currently unavailable</h2>
		<p class="xo-siteblocked-message">We are treating the incident<br /><a href="/">Please, coming soon ...</a></p>
		<p class="xo-siteblocked-desc">Error 503: service unavailable</p>
	</div>
</body>
</html>