<!-- @version $Id $ -->
<h1 class="center shadow"><{$smarty.const._MD_XOSTYLE_TITLE1}></h1>
<hr class="clear" />
<div class="marg10 floatleft width45">
	<h2 class="shadow"><img src="./images/ico_titles_off.png" alt="" title="">Tags: "h1 -> h6"</h2>
	<h1>Title - h1</h1>
	<h2>Title - h2</h2>
	<h3>Title - h3</h3>
	<h4>Title - h4</h4>
	<h5>Title - h5</h5>
	<h6>Title - h6</h6>
</div>
<div class="marg10 floatright width50">
	<h2 class="shadow"><img src="./images/ico_titles_hover.png" alt="" title="">Tags: "h1 -> h6" Tags with link</h2>
	<h1><a href="#" title="">Title - h1</a></h1>
	<h2><a href="#" title="">Title - h2</a></h2>
	<h3><a href="#" title="">Title - h3</a></h3>
	<h4><a href="#" title="">Title - h4</a></h4>
	<h5><a href="#" title="">Title - h5</a></h5>
	<h6><a href="#" title="">Title - h6</a></h6>
</div>
<hr  class="clear" />
<div class="marg10 floatleft width45">
	<h2 class="shadow"><img src="./images/ico_img_off.png" alt="" title="">Images</h2>
	<div class="">
		<img src="./images/image90.png" width="90" height="90" alt="" title="Without link">
	</div>
</div>
<div class="marg10 floatright width50">
	<h2 class="shadow"><img src="./images/ico_img_hover.png" alt="" title="">Images with link</h2>
	<div class="">
		<a href="#" title=""><img src="./images/image90.png" alt="" title="With link"></a>						
	</div>
</div>
<hr class="clear" />
<div class="floatleft width45">
	<h2 class="shadow"><img src="./images/ico_generic_fonts.png" alt="" title="">Generic font class</h2>
	<div class="boxshadow1 pad5 marg10 bradius10">
		<span class="verysmall block">.verysmall or .xx-small</span>
		<span class="smallsmall block">.smallsmall or .x-small</span>
		<span class="small block">.small</span>
		<span class="normal block">.normal</span>
		<span class="big block">.big </span>
		<span class="maxi block">.maxi</span>
		<span class="bold block">.bold</span>
		<span class="bolder block">.bolder</span>
		<span class="lighter block">.lighter</span>
		<span class="italic block">.italic</span>
		<span class="oblique block">.oblique</span>
		<span class="underline block">.underline</span>
		<span class="shadow block">.shadow</span>
		<span class="shadowlight block">.shadowlight</span>
		<span class="cursordefault block">.cursordefault</span>
		<span class="cursormove block">.cursormove</span>
		<span class="cursorpointer block">.cursorpointer</span>
		<span class="cursorhelp block">.cursorhelp</span>
	</div>
</div>
<div class="floatright width50">
	<h2 class="shadow"><img src="./images/ico_general.png" alt="" title="">General elements</h2>
	<div class="element">
		<a href="" title="">Link</a><br />
		<hr>hr</hr><br />
		<em>em & i</em><br />
		<em>u Tag</em><br />
		<strong>strong and b</strong><br />
		<del>del tag</del><br />
		<small>small <span class="red italic smallsmall">(warning !! tag deprecead !!)</span></small><br />
		<acronym>acronym</acronym><br />
		<abbr>abbr</abbr><br />
		<cite>cite</cite><br />
		<dfn>dfn</dfn><br />
		<address>address</address>
	</div>		  
</div>
<div class="clear"><br /></div>
<hr />
<div class="marg10 floatleft width45">
	<h2 class="shadow"><img src="./images/ico_li.png" alt="" title="">Tag "li"</h2>
	<div class="pad5">
		<ul>
			<li>Lorem</li>
			<li><a href="#" title="">Lorem link</a></li>
			<li>Lorem
				<ul>
					<li>Lorem</li>
					<li>Lorem</li>
					<li><a href="#" title="">Lorem with link</a></li>	
				</ul>
			</li>
			<li>Lorem</li>
		</ul>
	</div>
</div>
<div class="marg10 floatright width50">
	<h2 class="shadow"><img src="./images/ico_ol.png" alt="" title="">Tag "ol"</h2>
	<div class="pad5">
		<ol>
			<li>Lorem</li>
			<li><a href="#" title="">Lorem link</a></li>
			<li>Lorem
				<ol>
					<li>Lorem</li>
					<li>Lorem</li>
					<li><a href="#" title="">Lorem link</a></li>	
				</ol>
			</li>
			<li>Lorem</li>				
		</ol>	 
	</div>		  
</div>
<hr class="clear"/>		
<div class="marg10 floatleft width45">
	<h2 class="shadow"><img src="./images/ico_pagination.png" alt="" title="">Pagination</h2>
		<span class="xo-pagact">.xo-pagact</span>
		<span class="xo-counterpage"><a href="#" title="">.xo-counterpage</a></span>
		<span class="xo-pagarrow"><a href="#" title="">.xo-pagarrow</a></span>		  
</div>
<div class="clear"></div>
<hr />
<div class="marg10 floatleft width45">
	<h2 class="shadow"><img src="./images/ico_core.png" alt="" title="">Core messages</h2>
		<div class="errorMsg">.errorMsg</div>
		<div class="confirmMsg">.confirmMsg</div>
		<div class="resultMsg">.resultMsg</div>
		<div class="successMsg">.successMsg</div>
		<div class="highlight">.highlight</div>
</div>
<div class="marg10 floatright width50">
	<h2 class="shadow"><img src="./images/ico_core.png" alt="" title="">Core messages with link</h2>
	<div class="errorMsg"><a href="#" title="">.errorMsg</a></div>
	<div class="confirmMsg"><a href="#" title="">.confirmMsg</a></div>
	<div class="resultMsg"><a href="#" title="">.resultMsg</a></div>
	<div class="successMsg"><a href="#" title="">.successMsg</a></div>
	<div class="highlight"><a href="#" title="">.highlight</a></div>
</div>
<hr class="clear"/>				  
<div class="marg10 floatleft width45">
	<h2 class="shadow"><img src="./images/ico_table_tags.png" alt="" title="">Tables</h2>
	<table>
		<tr>
			<th>th</th>
		</tr>
	</table>
	<table>
		<caption>caption</caption>
		<thead>
			<tr>
				<th>thead</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td>tfoot</td>
			</tr>
		</tfoot>
		<tbody>
			<tr>
				<td>tbody</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="marg10 floatright width50">
	<h2 class="shadow"><img src="./images/ico_table_tags_hover.png" alt="" title="">Tables tags - links</h2>
	<table>
		<tr>
			<th><a href="#" title="">th</a></th>
		</tr>
	</table>
	<table>
		<caption><a href="#" title="">caption</a></caption>
		<thead>
			<tr>
				<th><a href="#" title="">thead</a></th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td><a href="#" title="">tfoot</a></td>
			</tr>
		</tfoot>
		<tbody>
			<tr>
				<td><a href="#" title="">tbody</a></td>
			</tr>
			</tbody>
	</table>
</div>
<div class="clear"></div>
<div class="marg10 floatleft width45">
	<h2 class="shadow"><img src="./images/ico_tables_class_off.png" alt="" title="">Table class</h2>
	<div class="element">
		<div class="outer">.outer</div>
		<div class="head">.head</div>
		<div class="odd">.odd</div>
		<div class="even">.even</div>
		<div class="foot">.foot</div>
	</div>
</div>
<div class="marg10 floatright width50">
	<h2 class="shadow"><img src="./images/ico_tables_class_hover.png" alt="" title="">Table class - links</h2>
	<div class="element">
		<div class="outer"><a href="#" title="">.outer</a></div>
		<div class="head"><a href="#" title="">.head</a></div>
		<div class="odd"><a href="#" title="">.odd</a></div>
		<div class="even"><a href="#" title="">.even</a></div>
		<div class="foot"><a href="#" title="">.foot</a></div>
	</div>
</div>
<div class="clear"></div>
<div class="marg10 floatleft width45">
	<h2 class="shadow"><img src="./images/ico_tables_row_off.png" alt="" title="">Tables row class</h2>
	<table>
		<tr class="head">
			<td>tr.head</td>
		</tr>
	</table>
	<table>
		<tr class="odd">
			<td>tr.odd</td>
		</tr>
	</table>
	<table>
		<tr class="even">
			<td>tr.even</td>					
		</tr>
	</table>
	<table>
		<tr class="foot">
			<td>tr.foot</td>
		</tr>
	</table>
</div>
<div class="marg10 floatright width50">
	<h2 class="shadow"><img src="./images/ico_tables_row_hover.png" alt="" title="">Tables row class - link</h2>
	<table>
		<tr class="head">
			<td><a href="#" title="">tr.head</a></td>
		</tr>
	</table>
	<table>
		<tr class="odd">
			<td><a href="#" title="">tr.odd</a></td>
		</tr>
	</table>
	<table>
		<tr class="even">
			<td><a href="#" title="">tr.even</a></td>					
		</tr>
	</table>
	<table>
		<tr class="foot">
			<td><a href="#" title="">tr.foot</a></td>
		</tr>
	</table>
</div>
<hr class="clear"/>
<div class="marg10 floatleft width45">
	<h2 class="shadow"><img src="./images/ico_comments_off.png" alt="" title="">Comments .class</h2>
	<div class="element">
		<div class="comTitle">.comTitle</div>
		<div class="comText">.comText</div>
		<div class="comUserStat">.comUserStat</div>
		<div class="comUserStatCaption ">.comUserStatCaption</div>
		<div class="comUserStatus">.comUserStatus</div>
		<div class="comUserRank">.comUserRank</div>
		<div class="comUserRankText">.comUserRankText</div>
		<div class="comDate">.comDate</div>
		<div class="comDateCaption">.comDateCaption</div>
		<div class="signature">.signature</div>
		<div class="comUserName">.comUserName</div>
		<div class="comUserRankImg">.comUserRankImg<br /><img src="./images/rankimage109x24.png" alt=".comUserRankImg" title=".comUserRankImg"></div>
		<div class="comUserImg">.comUserImg<br /><img src="./images/comUserImg86.jpg" alt=".comUserImg" title=".comUserImg"></div>
	</div>
</div>			  

<div class="marg10 floatright width50">
	<h2 class="shadow"><img src="./images/ico_comments_hover.png" alt="" title="">Comments .class - links</h2>
	<div class="element">
		<div class="comTitle"><a href="#" title="">.comTitle</a></div>
		<div class="comText"><a href="#" title="">.comText</a></div>
		<div class="comUserStat"><a href="#" title="">.comUserStat</a></div>
		<div class="comUserStatCaption"><a href="#" title="">.comUserStatCaption</a></div>
		<div class="comUserStatus"><a href="#" title="">.comUserStatus</a></div>
		<div class="comUserRank"><a href="#" title="">.comUserRank</a></div>
		<div class="comUserRankText"><a href="#" title="">.comUserRankText</a></div>
		<div class="comDate"><a href="#" title="">.comDate</a></div>
		<div class="comDateCaption"><a href="#" title="">.comDateCaption</a></div>
		<div class="signature"><a href="#" title="">.signature</a></div>
		<div class="comUserName"><a href="#" title="">.comUserName</a></div>
		<div class="comUserRankImg">.comUserRankImg<br /><a href="#" title=""><img src="./images/rankimage109x24.png" alt=".comUserRankImg" title=".comUserRankImg" ></a></div>
		<div class="comUserImg">.comUserImg<br /><a href="#" title=""><img src="./images/comUserImg86.jpg" alt=".comUserImg" title=".comUserImg"></a></div>
	</div>
</div>
<hr class="clear"/>
<h2 class="shadow"><img src="./images/package_editors.png" alt="" title="">Paragraph style & text selection</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque facilisis quam at ante tempor tempor. Mauris condimentum dignissim fringilla. Fusce ut enim id augue <a href="#" title="My title">dignissim molestie</a>. Proin nec lacus non leo ullamcorper scelerisque vitae in arcu. Donec fermentum, leo ac euismod consequat, nisl arcu interdum nunc, pellentesque vestibulum velit lectus et ligula. Praesent quis purus nec enim porta porta. Nulla sodales mollis massa vitae ultrices. Nullam in dolor elit, eu vulputate ligula.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque facilisis quam at ante tempor tempor. Mauris condimentum dignissim fringilla. Fusce ut enim id augue dignissim molestie. Proin nec lacus non leo ullamcorper scelerisque vitae in arcu. Donec fermentum, leo ac euismod consequat, nisl arcu interdum nunc, pellentesque vestibulum velit lectus et ligula. Praesent quis purus nec enim porta porta. Nulla sodales mollis massa vitae ultrices. Nullam in dolor elit, eu vulputate ligula.</p>
<hr class="clear"/>
<div class="marg10 floatleft width45">
	<h2 class="shadow"><img src="./images/ico_tpl_class_off.png" alt="" title="">Tpl classes</h2>
	<div class="element">
		<div class="item">.item</div>
		<div class="itemHead">.itemHead</div>
		<div class="itemInfo">.itemInfo</div>
		<div class="itemTitle">.itemTitle</div>
		<div class="itemPoster">.itemPoster</div>
		<div class="itemPostDate ">.itemPostDate </div>
		<div class="itemStats">.itemStats</div>
		<div class="itemBody">.itemBody</div>
		<div class="itemText">.itemText</div>
		<div class="itemText:first-letter">.itemText:first-letter</div>
		<div class="itemFoot">.itemFoot</div>
		<div class="itemAdminLink ">.itemAdminLink </div>
		<div class="itemPermaLink">.itemPermaLink</div>
	</div>
</div>
<div class="marg10 floatright width50">
	<h2 class="shadow"><img src="./images/ico_tpl_class_hover.png" alt="" title="">Tpl classes - links</h2>
	<div class="element">
		<div class="item"><a href="#" title="">.item</a></div>
		<div class="itemHead"><a href="#" title="">.itemHead</a></div>
		<div class="itemInfo"><a href="#" title="">.itemInfo</a></div>
		<div class="itemTitle"><a href="#" title="">.itemTitle</a></div>
		<div class="itemPoster"><a href="#" title="">.itemPoster</a></div>
		<div class="itemPostDate"><a href="#" title="">.itemPostDate</a></div>
		<div class="itemStats"><a href="#" title="">.itemStats</a></div>
		<div class="itemBody"><a href="#" title="">.itemBody</a></div>
		<div class="itemText"><a href="#" title="">.itemText</a></div>
		<div class="itemText:first-letter"><a href="#" title="">.itemText:first-letter</a></div>
		<div class="itemFoot"><a href="#" title="">.itemFoot</a></div>
		<div class="itemAdminLink"><a href="#" title="">.itemAdminLink</a></div>
		<div class="itemPermaLink"><a href="#" title="">.itemPermaLink</a></div>
	</div>
</div>
<hr class="clear"/>
<div class="marg10 floatleft width45">
	<h2 class="shadow"><img src="./images/ico_code.png" alt="" title="">Style for Codes</h2>
	<div class="marg10">
		<h3>code and pre</h3>
		<code><pre>if ( !include("../../mainfile.php") ) {
die("XOOPS root path not defined");
}
$xoopsOption["template_main"] = "xobasicstyle_index.html";
include(XOOPS_ROOT_PATH."/header.php");
global $xoTheme; 
	//$xoTheme->addStyleSheet('modules/xobasicstyle/css/style.css');
	//$xoTheme->addScript('http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js');
	//$xoTheme->addScript(XOOPS_URL . '/browse.php?Frameworks/jquery/jquery.js');
	//$xoTheme->addScript('modules/xobasicstyle/js/script.js');
include_once XOOPS_ROOT_PATH."/footer.php";</pre></code>
	</div>
	<div class="marg10">
		<h3>.xoopsCode</h3>
		<div class="xoopsCode">
			<pre>if ( !include("../../mainfile.php") ) {
die("XOOPS root path not defined");
}
$xoopsOption["template_main"] = "xobasicstyle_index.html";
include(XOOPS_ROOT_PATH."/header.php");
global $xoTheme; 
	//$xoTheme->addStyleSheet('modules/xobasicstyle/css/style.css');
	//$xoTheme->addScript('http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js');
	//$xoTheme->addScript(XOOPS_URL . '/browse.php?Frameworks/jquery/jquery.js');
	//$xoTheme->addScript('modules/xobasicstyle/js/script.js');
include_once XOOPS_ROOT_PATH."/footer.php";</pre>
		</div>
	</div>			  
</div>
<div class="marg10 floatright width50">
	<h2 class="shadow"><img src="./images/ico_quote.png" alt="" title="">Style for Quotes</h2>
	<div class="marg10">
		<h3>blockquote</h3>
		<blockquote>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</blockquote>
	</div>
	<div class="marg10">
		<h3>.xoopsQuote</h3>
		<div class="xoopsQuote"><blockquote>.xoopsQuote : Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</blockquote></div>
	</div>
</div>
<div class="clear"></div>	  
<div class="marg10 floatleft width45">
	<h2 class="shadow"><img src="./images/ico_forms.png" alt="" title="">Forms</h2>
	<fieldset>
		<legend>legend form tag</legend>
		<form action="" method="" class="">
			<div>
			  <label>Textfield (label)
				<input type="text" name="textfield" id="textfield" />
			  </label>
			</div>
			<div>
			  <label>Textarea (label)
				<textarea name="textarea" id="textarea" cols="45" rows="5"></textarea>
			  </label>
			</div>
			<div>
			  <label>
				<input type="checkbox" name="CheckboxGroup1" value="Check me if you can" id="CheckboxGroup1_0" />
				Check me if you can</label>
				<br />
			  <label>
				<input type="checkbox" name="CheckboxGroup1" value="Check me if you can" id="CheckboxGroup1_1" />
				Check me if you can</label>
				<br />
			  <label>
				<input type="checkbox" name="CheckboxGroup1" value="Check me if you can" id="CheckboxGroup1_2" />
				Check me if you can</label>
			</div>
			<div>
			  <label>
				<input type="radio" name="RadioGroup1" value="Radio button" id="RadioGroup1_0" />
				Radio button</label>
				<br />
			  <label>
				<input type="radio" name="RadioGroup1" value="Radio button" id="RadioGroup1_1" />
				Radio button</label>
				<br />
			  <label>
				<input type="radio" name="RadioGroup1" value="Radio button" id="RadioGroup1_2" />
				Radio button</label>
			  <br />
			</div>
			<div>
			  <label>Select A (label)
				<select name="select" id="select">
				  <option>Lorem ipsum 01</option>
				  <option>Lorem ipsum 02</option>
				  <option>Lorem ipsum 03</option>
				  <option>Lorem ipsum 04</option>
				  <option>Lorem ipsum 05</option>
				</select>
			  </label>  
			</div>
			<div>
			  <label>Select B (label)
				<select name="select2" size="5" id="select2">
				  <option>Lorem ipsum 01</option>
				  <option selected="selected">Lorem ipsum 02</option>
				  <option>Lorem ipsum 03</option>
				  <option>Lorem ipsum 04</option>
				  <option>Lorem ipsum 05</option>
				</select>
			  </label>
			</div>
			<div>
			  <label>Input File (label)
				<input type="file" name="fileField" id="fileField" />
			  </label>
			</div>
			<div>
			  <label>Input Submit (label)
				<input type="submit" name="button" id="button" value="Envoyer" />
			  </label>
			</div>
		</form>
	</fieldset>
</div>
<div class="marg10 floatright width50">
	<h2 class="shadow"><img src="./images/ico_forms_xoops.png" alt="" title="">Forms with xoops .class</h2>
	<table class="outer">
		<tr>
			<th colspan="2">Title form (th tag)</th>
		</tr>
		<tr>
			<td class="head">Textfield (.head)</td>
			<td class="odd"><input type="text" name="textfield" id="textfield" /></td>						
		</tr>
		<tr>
			<td class="head">Textarea (.head)</td>
			<td class="even"><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>						
		</tr>
		<tr>
			<td class="head">Checkboxes (.head)</td>
			<td class="odd">
				<input type="checkbox" name="CheckboxGroup1" value="Check me if you can" id="CheckboxGroup1_0" />Check me if you can
				<br />
				<input type="checkbox" name="CheckboxGroup1" value="Check me if you can" id="CheckboxGroup1_1" />Check me if you can</label>
				<br />
				<input type="checkbox" name="CheckboxGroup1" value="Check me if you can" id="CheckboxGroup1_2" />Check me if you can
			</td>						
		</tr>
		<tr>
			<td class="head">Radio buttons (.head)</td>
			<td class="even">
				<input type="radio" name="RadioGroup1" value="Radio button" id="RadioGroup1_0" />Radio button
				<br />
				<input type="radio" name="RadioGroup1" value="Radio button" id="RadioGroup1_1" />Radio button
				<br />
				<input type="radio" name="RadioGroup1" value="Radio button" id="RadioGroup1_2" />Radio button						
			</td>						
		</tr>
		<tr>
			<td class="head">Select A (.head)</td>
			<td class="odd">
				<select name="select" id="select">
				  <option>Lorem ipsum 01</option>
				  <option>Lorem ipsum 02</option>
				  <option>Lorem ipsum 03</option>
				  <option>Lorem ipsum 04</option>
				  <option>Lorem ipsum 05</option>
				</select>
			</td>						
		</tr>
		<tr>
			<td class="head">Select B (.head)</td>
			<td class="even">
				<select name="select2" size="5" id="select2">
				  <option>Lorem ipsum 01</option>
				  <option selected="selected">Lorem ipsum 02</option>
				  <option>Lorem ipsum 03</option>
				  <option>Lorem ipsum 04</option>
				  <option>Lorem ipsum 05</option>
				</select>
			</td>						
		</tr>
		<tr>
			<td class="head">Input File (.head)</td>
			<td class="odd"><input type="file" name="fileField" id="fileField" /></td>						
		</tr>
		<tr class="foot">
			<td>Input Submit (tr.foot)</td>
			<td><input type="submit" name="button" id="button" value="Envoyer" /></td>						
		</tr>						
	</table>
</div>