<!-- @version $Id $ -->
<h1 class="center shadow"><{$smarty.const._MD_XOSTYLE_TITLE1}></h1>
<h3 class="center"><{$smarty.const._MD_XOSTYLE_SUMMARY}></h3>
<div class="width45 floatleft marg5">
	<ul>
		<li><a href="#1" title="<{$smarty.const._MD_XOSTYLE_TAGH}>"><{$smarty.const._MD_XOSTYLE_TAGH}></a></li>
		<li><a href="#2" title="<{$smarty.const._MD_XOSTYLE_IMG}>"><{$smarty.const._MD_XOSTYLE_IMG}></a></li>
		<li><a href="#3" title="<{$smarty.const._MD_XOSTYLE_FONTGEN}>"><{$smarty.const._MD_XOSTYLE_FONTGEN}></a></li>
		<li><a href="#3" title="<{$smarty.const._MD_XOSTYLE_GENEL}>"><{$smarty.const._MD_XOSTYLE_GENEL}></a></li>
		<li><a href="#4" title="<{$smarty.const._MD_XOSTYLE_TAGLI}>"><{$smarty.const._MD_XOSTYLE_TAGLI}></a></li>
		<li><a href="#4" title="<{$smarty.const._MD_XOSTYLE_TAGOL}>"><{$smarty.const._MD_XOSTYLE_TAGOL}></a></li>
		<li><a href="#5" title="<{$smarty.const._MD_XOSTYLE_PAGINATION}>"><{$smarty.const._MD_XOSTYLE_PAGINATION}></a></li>
		<li><a href="#6" title="<{$smarty.const._MD_XOSTYLE_COREMSG}>"><{$smarty.const._MD_XOSTYLE_COREMSG}></a></li>
	</ul>
</div>
<div class="width50 floatright marg5">
	<ul>
		<li><a href="#7" title="<{$smarty.const._MD_XOSTYLE_TABLETAG}>"><{$smarty.const._MD_XOSTYLE_TABLETAG}></a></li>
		<li><a href="#8" title="<{$smarty.const._MD_XOSTYLE_TABLECLASS}>"><{$smarty.const._MD_XOSTYLE_TABLECLASS}></a></li>
		<li><a href="#9" title="<{$smarty.const._MD_XOSTYLE_COMCLASS}>"><{$smarty.const._MD_XOSTYLE_COMCLASS}></a></li>
		<li><a href="#10" title="<{$smarty.const._MD_XOSTYLE_PARAF}>"><{$smarty.const._MD_XOSTYLE_PARAF}></a></li>
		<li><a href="#11" title="<{$smarty.const._MD_XOSTYLE_TPLCLASS}>"><{$smarty.const._MD_XOSTYLE_TPLCLASS}></a></li>
		<li><a href="#12" title="<{$smarty.const._MD_XOSTYLE_STYLECODE}>"><{$smarty.const._MD_XOSTYLE_STYLECODE}></a></li>
		<li><a href="#12" title="<{$smarty.const._MD_XOSTYLE_STYLEQUOTE}>"><{$smarty.const._MD_XOSTYLE_STYLEQUOTE}></a></li>
		<li><a href="#13" title="<{$smarty.const._MD_XOSTYLE_TITFORM}>"><{$smarty.const._MD_XOSTYLE_TITFORM}></a></li>
	</ul>
</div>
<div class="clear"></div>
<hr />
<div class="marg10 floatleft width45">
	<h2 id="1" class="shadow"><img src="./images/ico_titles_off.png" alt="" title=""><{$smarty.const._MD_XOSTYLE_TAGH}></h2>
	<h1><{$smarty.const._MD_XOSTYLE_TITLEH1}></h1>
	<h2><{$smarty.const._MD_XOSTYLE_TITLEH2}></h2>
	<h3><{$smarty.const._MD_XOSTYLE_TITLEH3}></h3>
	<h4><{$smarty.const._MD_XOSTYLE_TITLEH4}></h4>
	<h5><{$smarty.const._MD_XOSTYLE_TITLEH5}></h5>
	<h6><{$smarty.const._MD_XOSTYLE_TITLEH6}></h6>
</div>
<div class="marg10 floatright width50">
	<h2 class="shadow"><img src="./images/ico_titles_hover.png" alt="" title=""><{$smarty.const._MD_XOSTYLE_TAGHLINK}></h2>
	<h1><a href="#" title="<{$smarty.const._MD_XOSTYLE_TITLEH}> <{$smarty.const._MD_XOSTYLE_WITHLINK}>"><{$smarty.const._MD_XOSTYLE_TITLEH1}></a></h1>
	<h2><a href="#" title="<{$smarty.const._MD_XOSTYLE_TITLEH}> <{$smarty.const._MD_XOSTYLE_WITHLINK}>"><{$smarty.const._MD_XOSTYLE_TITLEH2}></a></h2>
	<h3><a href="#" title="<{$smarty.const._MD_XOSTYLE_TITLEH}> <{$smarty.const._MD_XOSTYLE_WITHLINK}>"><{$smarty.const._MD_XOSTYLE_TITLEH3}></a></h3>
	<h4><a href="#" title="<{$smarty.const._MD_XOSTYLE_TITLEH}> <{$smarty.const._MD_XOSTYLE_WITHLINK}>"><{$smarty.const._MD_XOSTYLE_TITLEH4}></a></h4>
	<h5><a href="#" title="<{$smarty.const._MD_XOSTYLE_TITLEH}> <{$smarty.const._MD_XOSTYLE_WITHLINK}>"><{$smarty.const._MD_XOSTYLE_TITLEH5}></a></h5>
	<h6><a href="#" title="<{$smarty.const._MD_XOSTYLE_TITLEH}> <{$smarty.const._MD_XOSTYLE_WITHLINK}>"><{$smarty.const._MD_XOSTYLE_TITLEH6}></a></h6>
</div>
<div class="clear"></div>
<hr />
<div class="marg10 floatleft width45">
	<h2 id="2" class="shadow"><img src="./images/ico_img_off.png" alt="" title=""><{$smarty.const._MD_XOSTYLE_IMG}></h2>
	<div class="">
		<img src="./images/image90.png" width="90" height="90" alt="" title="<{$smarty.const._MD_XOSTYLE_IMG}>">
	</div>
</div>
<div class="marg10 floatright width50">
	<h2 class="shadow"><img src="./images/ico_img_hover.png" alt="" title=""><{$smarty.const._MD_XOSTYLE_IMGLINK}></h2>
	<div class="">
		<a href="#" title=""><img src="./images/image90.png" alt="" title="<{$smarty.const._MD_XOSTYLE_IMGLINK}>"></a>						
	</div>
</div>
<div class="clear"></div>
<p class="right smallsmall blue italic"><a href="#" title="<{$smarty.const._MD_XOSTYLE_TOPPAGE}>"><img src="./images/up.png" alt="TopPage"/></a></p>
<hr />
<div class="floatleft width45">
	<h2 id="3" class="shadow"><img src="./images/ico_generic_fonts.png" alt="" title=""><{$smarty.const._MD_XOSTYLE_FONTGEN}></h2>
	<div class="boxshadow1 pad5 marg10 bradius10">
		<span class="verysmall block">.verysmall <{$smarty.const._MD_XOSTYLE_FONTGEN}> .xx-small</span>
		<span class="smallsmall block">.smallsmall <{$smarty.const._MD_XOSTYLE_FONTGEN}> .x-small</span>
		<span class="small block">.small</span>
		<span class="normal block">.normal</span>
		<span class="big block">.big </span>
		<span class="maxi block">.maxi</span>
		<span class="bold block">.bold</span>
		<span class="bolder block">.bolder</span>
		<span class="lighter block">.lighter</span>
		<span class="italic block">.italic</span>
		<span class="oblique block">.oblique</span>
		<span class="underline block">.underline</span>
		<span class="shadow block">.shadow</span>
		<span class="shadowlight block">.shadowlight</span>
		<span class="cursordefault block">.cursordefault</span>
		<span class="cursormove block">.cursormove</span>
		<span class="cursorpointer block">.cursorpointer</span>
		<span class="cursorhelp block">.cursorhelp</span>
	</div>
</div>
<div class="floatright width50">
	<h2 id="3" class="shadow"><img src="./images/ico_general.png" alt="" title=""><{$smarty.const._MD_XOSTYLE_GENEL}></h2>
	<div class="element">
		<a href="" title="">a href</a><br />
		hr<hr />
		<em>em <{$smarty.const._MD_XOSTYLE_AND}> i</em><br />
		<em>u</em><br />
		<strong>strong <{$smarty.const._MD_XOSTYLE_AND}> b</strong><br />
		<del>del</del><br />
		<small>small <{$smarty.const._MD_XOSTYLE_DEPREC}></small><br />
		<acronym>acronym</acronym><br />
		<abbr>abbr</abbr><br />
		<cite>cite</cite><br />
		<dfn>dfn</dfn><br />
		<address>address</address>
	</div>		  
</div>
<div class="clear"></div>
<p class="right smallsmall blue italic"><a href="#" title="<{$smarty.const._MD_XOSTYLE_TOPPAGE}>"><img src="./images/up.png" alt="TopPage"/></a></p>
<hr />
<div class="marg10 floatleft width45">
	<h2 id="4" class="shadow"><img src="./images/ico_li.png" alt="" title=""><{$smarty.const._MD_XOSTYLE_TAGLI}></h2>
	<div class="pad5">
		<ul>
			<li><{$smarty.const._MD_XOSTYLE_LOREM}></li>
			<li><a href="#" title="<{$smarty.const._MD_XOSTYLE_LOREMLINK}>"><{$smarty.const._MD_XOSTYLE_LOREMLINK}></a></li>
			<li><{$smarty.const._MD_XOSTYLE_LOREM}>
				<ul>
					<li><{$smarty.const._MD_XOSTYLE_LOREM}></li>
					<li><{$smarty.const._MD_XOSTYLE_LOREM}></li>
					<li><a href="#" title="<{$smarty.const._MD_XOSTYLE_LOREMLINK}>"><{$smarty.const._MD_XOSTYLE_LOREMLINK}></a></li>	
				</ul>
			</li>
			<li><{$smarty.const._MD_XOSTYLE_LOREM}></li>
		</ul>
	</div>
</div>
<div class="marg10 floatright width50">
	<h2 class="shadow"><img src="./images/ico_ol.png" alt="" title=""><{$smarty.const._MD_XOSTYLE_TAGOL}></h2>
	<div class="pad5">
		<ol>
			<li><{$smarty.const._MD_XOSTYLE_LOREM}></li>
			<li><a href="#" title="<{$smarty.const._MD_XOSTYLE_LOREMLINK}>"><{$smarty.const._MD_XOSTYLE_LOREMLINK}></a></li>
			<li><{$smarty.const._MD_XOSTYLE_LOREM}>
				<ol>
					<li><{$smarty.const._MD_XOSTYLE_LOREM}></li>
					<li><{$smarty.const._MD_XOSTYLE_LOREM}></li>
					<li><a href="#" title="<{$smarty.const._MD_XOSTYLE_LOREMLINK}>"><{$smarty.const._MD_XOSTYLE_LOREMLINK}></a></li>	
				</ol>
			</li>
			<li><{$smarty.const._MD_XOSTYLE_LOREM}></li>				
		</ol>	 
	</div>		  
</div>
<div class="clear"></div>
<p class="right smallsmall blue italic"><a href="#" title="<{$smarty.const._MD_XOSTYLE_TOPPAGE}>"><img src="./images/up.png" alt="TopPage"/></a></p>
<hr />		
<div class="marg10 floatleft width45">
	<h2 id="5" class="shadow"><img src="./images/ico_pagination.png" alt="" title=""><{$smarty.const._MD_XOSTYLE_PAGINATION}></h2>
		<span class="xo-pagact">.xo-pagact</span>
		<span class="xo-counterpage"><a href="#" title="">.xo-counterpage</a></span>
		<span class="xo-pagarrow"><a href="#" title="">.xo-pagarrow</a></span>		  
</div>
<div class="clear"></div>
<p class="right smallsmall blue italic"><a href="#" title="<{$smarty.const._MD_XOSTYLE_TOPPAGE}>"><img src="./images/up.png" alt="TopPage"/></a></p>
<hr />
<div class="marg10 floatleft width45">
	<h2 id="6" class="shadow"><img src="./images/ico_core.png" alt="" title=""><{$smarty.const._MD_XOSTYLE_COREMSG}></h2>
		<div class="errorMsg">.errorMsg</div>
		<div class="confirmMsg">.confirmMsg</div>
		<div class="resultMsg">.resultMsg</div>
		<div class="successMsg">.successMsg</div>
		<div class="highlight">.highlight</div>
</div>
<div class="marg10 floatright width50">
	<h2 class="shadow"><img src="./images/ico_core.png" alt="" title=""><{$smarty.const._MD_XOSTYLE_COREMSGLINK}></h2>
	<div class="errorMsg"><a href="#" title="">.errorMsg</a></div>
	<div class="confirmMsg"><a href="#" title="">.confirmMsg</a></div>
	<div class="resultMsg"><a href="#" title="">.resultMsg</a></div>
	<div class="successMsg"><a href="#" title="">.successMsg</a></div>
	<div class="highlight"><a href="#" title="">.highlight</a></div>
</div>
<div class="clear"></div>
<p class="right smallsmall blue italic"><a href="#" title="<{$smarty.const._MD_XOSTYLE_TOPPAGE}>"><img src="./images/up.png" alt="TopPage"/></a></p>
<hr />	
<div class="marg10 floatleft width45">
	<h2 id="7" class="shadow"><img src="./images/ico_table_tags.png" alt="" title=""><{$smarty.const._MD_XOSTYLE_TABLETAG}></h2>
	<table>
		<tr>
			<th>th</th>
		</tr>
	</table>
	<table>
		<caption>caption</caption>
		<thead>
			<tr>
				<th>thead</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td>tfoot</td>
			</tr>
		</tfoot>
		<tbody>
			<tr>
				<td>tbody</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="marg10 floatright width50">
	<h2 class="shadow"><img src="./images/ico_table_tags_hover.png" alt="" title=""><{$smarty.const._MD_XOSTYLE_TABLETAGLINK}></h2>
	<table>
		<tr>
			<th><a href="#" title="">th</a></th>
		</tr>
	</table>
	<table>
		<caption><a href="#" title="">caption</a></caption>
		<thead>
			<tr>
				<th><a href="#" title="">thead</a></th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td><a href="#" title="">tfoot</a></td>
			</tr>
		</tfoot>
		<tbody>
			<tr>
				<td><a href="#" title="">tbody</a></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="clear"></div>
<div class="marg10 floatleft width45">
	<h2 id="8" class="shadow"><img src="./images/ico_tables_class_off.png" alt="" title=""><{$smarty.const._MD_XOSTYLE_TABLECLASS}></h2>
	<div class="element">
		<div class="outer">.outer</div>
		<div class="head">.head</div>
		<div class="odd">.odd</div>
		<div class="even">.even</div>
		<div class="foot">.foot</div>
	</div>
</div>
<div class="marg10 floatright width50">
	<h2 class="shadow"><img src="./images/ico_tables_class_hover.png" alt="" title=""><{$smarty.const._MD_XOSTYLE_TABLECLASSLINK}></h2>
	<div class="element">
		<div class="outer"><a href="#" title="">.outer</a></div>
		<div class="head"><a href="#" title="">.head</a></div>
		<div class="odd"><a href="#" title="">.odd</a></div>
		<div class="even"><a href="#" title="">.even</a></div>
		<div class="foot"><a href="#" title="">.foot</a></div>
	</div>
</div>
<div class="clear"></div>
<div class="marg10 floatleft width45">
	<h2 class="shadow"><img src="./images/ico_tables_row_off.png" alt="" title=""><{$smarty.const._MD_XOSTYLE_TABLEROW}></h2>
	<table>
		<tr class="head">
			<td>tr.head</td>
		</tr>
	</table>
	<table>
		<tr class="odd">
			<td>tr.odd</td>
		</tr>
	</table>
	<table>
		<tr class="even">
			<td>tr.even</td>					
		</tr>
	</table>
	<table>
		<tr class="foot">
			<td>tr.foot</td>
		</tr>
	</table>
</div>
<div class="marg10 floatright width50">
	<h2 class="shadow"><img src="./images/ico_tables_row_hover.png" alt="" title=""><{$smarty.const._MD_XOSTYLE_TABLEROWLINK}></h2>
	<table>
		<tr class="head">
			<td><a href="#" title="">tr.head</a></td>
		</tr>
	</table>
	<table>
		<tr class="odd">
			<td><a href="#" title="">tr.odd</a></td>
		</tr>
	</table>
	<table>
		<tr class="even">
			<td><a href="#" title="">tr.even</a></td>					
		</tr>
	</table>
	<table>
		<tr class="foot">
			<td><a href="#" title="">tr.foot</a></td>
		</tr>
	</table>
</div>
<div class="clear"></div>
<p class="right smallsmall blue italic"><a href="#" title="<{$smarty.const._MD_XOSTYLE_TOPPAGE}>"><img src="./images/up.png" alt="TopPage"/></a></p>
<hr />
<div class="marg10 floatleft width45">
	<h2 id="9" class="shadow"><img src="./images/ico_comments_off.png" alt="" title=""><{$smarty.const._MD_XOSTYLE_COMCLASS}></h2>
	<div class="element">
		<div class="comTitle">.comTitle</div>
		<div class="comText">.comText</div>
		<div class="comUserStat">.comUserStat</div>
		<div class="comUserStatCaption ">.comUserStatCaption</div>
		<div class="comUserStatus">.comUserStatus</div>
		<div class="comUserRank">.comUserRank</div>
		<div class="comUserRankText">.comUserRankText</div>
		<div class="comDate">.comDate</div>
		<div class="comDateCaption">.comDateCaption</div>
		<div class="signature">.signature</div>
		<div class="comUserName">.comUserName</div>
		<div class="comUserRankImg">.comUserRankImg<br /><img src="./images/rankimage109x24.png" alt=".comUserRankImg" title=".comUserRankImg"></div>
		<div class="comUserImg">.comUserImg<br /><img src="./images/comUserImg86.jpg" alt=".comUserImg" title=".comUserImg"></div>
	</div>
</div>			  
<div class="marg10 floatright width50">
	<h2 class="shadow"><img src="./images/ico_comments_hover.png" alt="" title=""><{$smarty.const._MD_XOSTYLE_COMCLASSLINK}></h2>
	<div class="element">
		<div class="comTitle"><a href="#" title="">.comTitle</a></div>
		<div class="comText"><a href="#" title="">.comText</a></div>
		<div class="comUserStat"><a href="#" title="">.comUserStat</a></div>
		<div class="comUserStatCaption"><a href="#" title="">.comUserStatCaption</a></div>
		<div class="comUserStatus"><a href="#" title="">.comUserStatus</a></div>
		<div class="comUserRank"><a href="#" title="">.comUserRank</a></div>
		<div class="comUserRankText"><a href="#" title="">.comUserRankText</a></div>
		<div class="comDate"><a href="#" title="">.comDate</a></div>
		<div class="comDateCaption"><a href="#" title="">.comDateCaption</a></div>
		<div class="signature"><a href="#" title="">.signature</a></div>
		<div class="comUserName"><a href="#" title="">.comUserName</a></div>
		<div class="comUserRankImg">.comUserRankImg<br /><a href="#" title=""><img src="./images/rankimage109x24.png" alt=".comUserRankImg" title=".comUserRankImg" ></a></div>
		<div class="comUserImg">.comUserImg<br /><a href="#" title=""><img src="./images/comUserImg86.jpg" alt=".comUserImg" title=".comUserImg"></a></div>
	</div>
</div>
<div class="clear"></div>
<p class="right smallsmall blue italic"><a href="#" title="<{$smarty.const._MD_XOSTYLE_TOPPAGE}>"><img src="./images/up.png" alt="TopPage"/></a></p>
<hr />
<h2 id="10" class="shadow"><img src="./images/package_editors.png" alt="" title=""><{$smarty.const._MD_XOSTYLE_PARAF}></h2>
<{$smarty.const._MD_XOSTYLE_PARAFTXT}>
<div class="clear"></div>
	<p class="right smallsmall blue italic"><a href="#" title="<{$smarty.const._MD_XOSTYLE_TOPPAGE}>"><img src="./images/up.png" alt="TopPage"/></a></p>
<hr />
<div class="marg10 floatleft width45">
	<h2 id="11" class="shadow"><img src="./images/ico_tpl_class_off.png" alt="" title=""><{$smarty.const._MD_XOSTYLE_TPLCLASS}></h2>
	<div class="element">
		<div class="item">.item</div>
		<div class="itemHead">.itemHead</div>
		<div class="itemInfo">.itemInfo</div>
		<div class="itemTitle">.itemTitle</div>
		<div class="itemPoster">.itemPoster</div>
		<div class="itemPostDate ">.itemPostDate </div>
		<div class="itemStats">.itemStats</div>
		<div class="itemBody">.itemBody</div>
		<div class="itemText">.itemText</div>
		<div class="itemText:first-letter">.itemText:first-letter</div>
		<div class="itemFoot">.itemFoot</div>
		<div class="itemAdminLink ">.itemAdminLink </div>
		<div class="itemPermaLink">.itemPermaLink</div>
	</div>
</div>
<div class="marg10 floatright width50">
	<h2 class="shadow"><img src="./images/ico_tpl_class_hover.png" alt="" title=""><{$smarty.const._MD_XOSTYLE_TPLCLASSLINK}></h2>
	<div class="element">
		<div class="item"><a href="#" title="">.item</a></div>
		<div class="itemHead"><a href="#" title="">.itemHead</a></div>
		<div class="itemInfo"><a href="#" title="">.itemInfo</a></div>
		<div class="itemTitle"><a href="#" title="">.itemTitle</a></div>
		<div class="itemPoster"><a href="#" title="">.itemPoster</a></div>
		<div class="itemPostDate"><a href="#" title="">.itemPostDate</a></div>
		<div class="itemStats"><a href="#" title="">.itemStats</a></div>
		<div class="itemBody"><a href="#" title="">.itemBody</a></div>
		<div class="itemText"><a href="#" title="">.itemText</a></div>
		<div class="itemText:first-letter"><a href="#" title="">.itemText:first-letter</a></div>
		<div class="itemFoot"><a href="#" title="">.itemFoot</a></div>
		<div class="itemAdminLink"><a href="#" title="">.itemAdminLink</a></div>
		<div class="itemPermaLink"><a href="#" title="">.itemPermaLink</a></div>
	</div>
</div>
<div class="clear"></div>
<p class="right smallsmall blue italic"><a href="#" title="<{$smarty.const._MD_XOSTYLE_TOPPAGE}>"><img src="./images/up.png" alt="TopPage"/></a></p>
<hr />
<div class="marg10 floatleft width45">
	<h2 id="12" class="shadow"><img src="./images/ico_code.png" alt="" title=""><{$smarty.const._MD_XOSTYLE_STYLECODE}></h2>
	<div class="marg10">
		<h3>code <{$smarty.const._MD_XOSTYLE_AND}> pre</h3>
		<code><pre>if ( !include("../../mainfile.php") ) {
die("XOOPS root path not defined");
}
$xoopsOption["template_main"] = "xobasicstyle_index.html";
include(XOOPS_ROOT_PATH."/header.php");
global $xoTheme; 
	//$xoTheme->addStyleSheet('modules/xobasicstyle/css/style.css');
	//$xoTheme->addScript('http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js');
	//$xoTheme->addScript(XOOPS_URL . '/browse.php?Frameworks/jquery/jquery.js');
	//$xoTheme->addScript('modules/xobasicstyle/js/script.js');
include_once XOOPS_ROOT_PATH."/footer.php";</pre></code>
	</div>
	<div class="marg10">
		<h3>.xoopsCode</h3>
		<div class="xoopsCode">
			<pre>if ( !include("../../mainfile.php") ) {
die("XOOPS root path not defined");
}
$xoopsOption["template_main"] = "xobasicstyle_index.html";
include(XOOPS_ROOT_PATH."/header.php");
global $xoTheme; 
	//$xoTheme->addStyleSheet('modules/xobasicstyle/css/style.css');
	//$xoTheme->addScript('http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js');
	//$xoTheme->addScript(XOOPS_URL . '/browse.php?Frameworks/jquery/jquery.js');
	//$xoTheme->addScript('modules/xobasicstyle/js/script.js');
include_once XOOPS_ROOT_PATH."/footer.php";</pre>
		</div>
	</div>			  
</div>
<div class="marg10 floatright width50">
	<h2 id="12" class="shadow"><img src="./images/ico_quote.png" alt="" title=""><{$smarty.const._MD_XOSTYLE_STYLEQUOTE}></h2>
	<div class="marg10">
		<h3>blockquote</h3>
		<blockquote><{$smarty.const._MD_XOSTYLE_STYLEQUOTETXT}></blockquote>
	</div>
	<div class="marg10">
		<h3>.xoopsQuote</h3>
		<div class="xoopsQuote"><blockquote>.xoopsQuote : <{$smarty.const._MD_XOSTYLE_STYLEQUOTETXT}></blockquote></div>
	</div>
</div>
<div class="clear"></div>
<p class="right smallsmall blue italic"><a href="#" title="<{$smarty.const._MD_XOSTYLE_TOPPAGE}>"><img src="./images/up.png" alt="TopPage"/></a></p>
<hr />	  
<div class="marg10 floatleft width45">
	<h2 id="13" class="shadow"><img src="./images/ico_forms.png" alt="" title=""><{$smarty.const._MD_XOSTYLE_TITFORM}></h2>
	<fieldset>
		<legend><{$smarty.const._MD_XOSTYLE_LEGENDTAG}></legend>
		<form action="" method="" class="">
			<div>
			  <label><{$smarty.const._MD_XOSTYLE_TEXTFIELD1}>
				<input type="text" name="textfield" id="textfield" />
			  </label>
			</div>
			<div>
			  <label><{$smarty.const._MD_XOSTYLE_TEXTAREA1}>
				<textarea name="textarea" id="textarea" cols="45" rows="5"></textarea>
			  </label>
			</div>
			<div>
			  <label>
				<input type="checkbox" name="CheckboxGroup1" value="<{$smarty.const._MD_XOSTYLE_CHEKME}>" id="CheckboxGroup1_0" title="<{$smarty.const._MD_XOSTYLE_CHEKME}>"/>
				<{$smarty.const._MD_XOSTYLE_CHEKME}></label>
				<br />
			  <label>
				<input type="checkbox" name="CheckboxGroup1" value="<{$smarty.const._MD_XOSTYLE_CHEKME}>" id="CheckboxGroup1_1" title="<{$smarty.const._MD_XOSTYLE_CHEKME}>"/>
				<{$smarty.const._MD_XOSTYLE_CHEKME}></label>
				<br />
			  <label>
				<input type="checkbox" name="CheckboxGroup1" value="<{$smarty.const._MD_XOSTYLE_CHEKME}>" id="CheckboxGroup1_2" title="<{$smarty.const._MD_XOSTYLE_CHEKME}>"/>
				<{$smarty.const._MD_XOSTYLE_CHEKME}></label>
			</div>
			<div>
			  <label>
				<input type="radio" name="RadioGroup1" value="<{$smarty.const._MD_XOSTYLE_RADBUTTON}>" id="RadioGroup1_0" title="<{$smarty.const._MD_XOSTYLE_CHEKME}>"/>
				<{$smarty.const._MD_XOSTYLE_RADBUTTON}></label>
				<br />
			  <label>
				<input type="radio" name="RadioGroup1" value="<{$smarty.const._MD_XOSTYLE_RADBUTTON}>" id="RadioGroup1_1" title="<{$smarty.const._MD_XOSTYLE_CHEKME}>"/>
				<{$smarty.const._MD_XOSTYLE_RADBUTTON}></label>
				<br />
			  <label>
				<input type="radio" name="RadioGroup1" value="<{$smarty.const._MD_XOSTYLE_RADBUTTON}>" id="RadioGroup1_2" title="<{$smarty.const._MD_XOSTYLE_CHEKME}>"/>
				<{$smarty.const._MD_XOSTYLE_RADBUTTON}></label>
			  <br />
			</div>
			<div>
			  <label><{$smarty.const._MD_XOSTYLE_SELECT1}> A
				<select name="select" id="select">
				  <option><{$smarty.const._MD_XOSTYLE_LOREM}> 01</option>
				  <option><{$smarty.const._MD_XOSTYLE_LOREM}> 02</option>
				  <option><{$smarty.const._MD_XOSTYLE_LOREM}> 03</option>
				  <option><{$smarty.const._MD_XOSTYLE_LOREM}> 04</option>
				  <option><{$smarty.const._MD_XOSTYLE_LOREM}> 05</option>
				</select>
			  </label>  
			</div>
			<div>
			  <label><{$smarty.const._MD_XOSTYLE_SELECT1}> B
				<select name="select2" size="5" id="select2">
				  <option><{$smarty.const._MD_XOSTYLE_LOREM}> 01</option>
				  <option selected="selected"><{$smarty.const._MD_XOSTYLE_LOREM}> 02</option>
				  <option><{$smarty.const._MD_XOSTYLE_LOREM}> 03</option>
				  <option><{$smarty.const._MD_XOSTYLE_LOREM}> 04</option>
				  <option><{$smarty.const._MD_XOSTYLE_LOREM}> 05</option>
				</select>
			  </label>
			</div>
			<div>
			  <label><{$smarty.const._MD_XOSTYLE_INPUTFILE1}> 
				<input type="file" name="fileField" id="fileField" />
			  </label>
			</div>
			<div>
			  <label><{$smarty.const._MD_XOSTYLE_INPUTSUBMIT1}> 
				<input type="submit" name="button" id="button" value="<{$smarty.const._MD_XOSTYLE_SUBMIT}>" title="<{$smarty.const._MD_XOSTYLE_SUBMIT}>"/>
			  </label>
			</div>
		</form>
	</fieldset>
</div>
<div class="marg10 floatright width50">
	<h2 class="shadow"><img src="./images/ico_forms_xoops.png" alt="" title=""><{$smarty.const._MD_XOSTYLE_XOFORMCLASS}></h2>
	<table class="outer">
		<tr>
			<th colspan="2"><{$smarty.const._MD_XOSTYLE_FORMTAG}></th>
		</tr>
		<tr>
			<td class="head"><{$smarty.const._MD_XOSTYLE_TEXTFIELD}></td>
			<td class="odd"><input type="text" name="textfield" id="textfield" /></td>						
		</tr>
		<tr>
			<td class="head"><{$smarty.const._MD_XOSTYLE_TEXTAREA}></td>
			<td class="even"><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>						
		</tr>
		<tr>
			<td class="head"><{$smarty.const._MD_XOSTYLE_CHECKBOX}></td>
			<td class="odd">
				<input type="checkbox" name="CheckboxGroup1" value="<{$smarty.const._MD_XOSTYLE_CHEKME}>" id="CheckboxGroup1_0" /><{$smarty.const._MD_XOSTYLE_CHEKME}>
				<br />
				<input type="checkbox" name="CheckboxGroup1" value="<{$smarty.const._MD_XOSTYLE_CHEKME}>" id="CheckboxGroup1_1" /><{$smarty.const._MD_XOSTYLE_CHEKME}></label>
				<br />
				<input type="checkbox" name="CheckboxGroup1" value="<{$smarty.const._MD_XOSTYLE_CHEKME}>" id="CheckboxGroup1_2" /><{$smarty.const._MD_XOSTYLE_CHEKME}>
			</td>						
		</tr>
		<tr>
			<td class="head"><{$smarty.const._MD_XOSTYLE_RADBUTTON1}></td>
			<td class="even">
				<input type="radio" name="RadioGroup1" value="<{$smarty.const._MD_XOSTYLE_RADBUTTON}>" id="RadioGroup1_0" /><{$smarty.const._MD_XOSTYLE_RADBUTTON}>
				<br />
				<input type="radio" name="RadioGroup1" value="<{$smarty.const._MD_XOSTYLE_RADBUTTON}>" id="RadioGroup1_1" /><{$smarty.const._MD_XOSTYLE_RADBUTTON}>
				<br />
				<input type="radio" name="RadioGroup1" value="<{$smarty.const._MD_XOSTYLE_RADBUTTON}>" id="RadioGroup1_2" /><{$smarty.const._MD_XOSTYLE_RADBUTTON}>						
			</td>						
		</tr>
		<tr>
			<td class="head"><{$smarty.const._MD_XOSTYLE_SELECT}> A</td>
			<td class="odd">
				<select name="select" id="select">
				  <option><{$smarty.const._MD_XOSTYLE_LOREM}> 01</option>
				  <option><{$smarty.const._MD_XOSTYLE_LOREM}> 02</option>
				  <option><{$smarty.const._MD_XOSTYLE_LOREM}> 03</option>
				  <option><{$smarty.const._MD_XOSTYLE_LOREM}> 04</option>
				  <option><{$smarty.const._MD_XOSTYLE_LOREM}> 05</option>
				</select>
			</td>						
		</tr>
		<tr>
			<td class="head"><{$smarty.const._MD_XOSTYLE_SELECT}> B</td>
			<td class="even">
				<select name="select2" size="5" id="select2">
				  <option><{$smarty.const._MD_XOSTYLE_LOREM}> 01</option>
				  <option selected="selected"><{$smarty.const._MD_XOSTYLE_LOREM}> 02</option>
				  <option><{$smarty.const._MD_XOSTYLE_LOREM}> 03</option>
				  <option><{$smarty.const._MD_XOSTYLE_LOREM}> 04</option>
				  <option><{$smarty.const._MD_XOSTYLE_LOREM}> 05</option>
				</select>
			</td>						
		</tr>
		<tr>
			<td class="head"><{$smarty.const._MD_XOSTYLE_INPUTFILE2}></td>
			<td class="odd"><input type="file" name="fileField" id="fileField" /></td>						
		</tr>
		<tr class="foot">
			<td><{$smarty.const._MD_XOSTYLE_INPUTSUBMIT2}></td>
			<td><input type="submit" name="button" id="button" value="<{$smarty.const._MD_XOSTYLE_GO}>" /></td>						
		</tr>						
	</table>
</div>
<div class="clear"></div>
<p class="right smallsmall blue italic"><a href="#" title="<{$smarty.const._MD_XOSTYLE_TOPPAGE}>"><img src="./images/up.png" alt="TopPage"/></a></p>
<hr />