<!-- @version $Id $ -->
<div id="page">
    <h1 class="center shadow"><{$smarty.const._MD_XOSTYLE_TITLE}></h1>
	<h3 class="center"><{$smarty.const._MD_XOSTYLE_SUMMARY}></h3>
	<div class="width45 floatleft marg5">
		<ul>
			<li><a href="#1" title="<{$smarty.const._MD_XOSTYLE_TITTXT}>"><{$smarty.const._MD_XOSTYLE_TITTXT}></a></li>
			<li><a href="#2" title="<{$smarty.const._MD_XOSTYLE_TITFONTS}>"><{$smarty.const._MD_XOSTYLE_TITFONTS}></a></li>
			<li><a href="#3" title="<{$smarty.const._MD_XOSTYLE_TITLINEHEIGHT}>"><{$smarty.const._MD_XOSTYLE_TITLINEHEIGHT}></a></li>
			<li><a href="#4" title="<{$smarty.const._MD_XOSTYLE_TITBORDER}>"><{$smarty.const._MD_XOSTYLE_TITBORDER}></a></li>
			<li><a href="#5" title="<{$smarty.const._MD_XOSTYLE_TITMULTICOLUMN}>"><{$smarty.const._MD_XOSTYLE_TITMULTICOLUMN}></a></li>
		</ul>
	</div>
	<div class="width50 floatright marg5">
		<ul>
			<li><a href="#6" title="<{$smarty.const._MD_XOSTYLE_TITBXSHAD}>"><{$smarty.const._MD_XOSTYLE_TITBXSHAD}></a></li>
			<li><a href="#7" title="<{$smarty.const._MD_XOSTYLE_TITRNDBORDER}>"><{$smarty.const._MD_XOSTYLE_TITRNDBORDER}></a></li>
			<li><a href="#8" title="<{$smarty.const._MD_XOSTYLE_TITOPAC}>"><{$smarty.const._MD_XOSTYLE_TITOPAC}></a></li>
			<li><a href="#9" title="<{$smarty.const._MD_XOSTYLE_TITTABLE}>"><{$smarty.const._MD_XOSTYLE_TITTABLE}></a></li>
		</ul>
	</div>
	<div class="clear"></div>
	<h2 id="1"><{$smarty.const._MD_XOSTYLE_TITTXT}></h2>
	<h3><{$smarty.const._MD_XOSTYLE_TITTXT_DSC}></h3>
	<{$smarty.const._MD_XOSTYLE_TXT_TXT}>
	<p class="right smallsmall blue italic"><a href="#" title="<{$smarty.const._MD_XOSTYLE_TOPPAGE}>"><img src="./images/up.png" alt="TopPage"/></a></p>
	<hr />
	<h2 id="2"><{$smarty.const._MD_XOSTYLE_TITFONTS}></h2>
	<h3>.arial</h3>
	<div class="arial"><{$smarty.const._MD_XOSTYLE_FONTS_TXT}></div><p>1 2 3 4 5 6 7 8 9 0 & é ~ " # ' { ( [ - | è ` _ \ ç ^ à @ ° ) ] + = } ^ $ £ ¤ ù % µ * ? / § !</p>
	<p class="right smallsmall blue italic"><a href="#" title="<{$smarty.const._MD_XOSTYLE_TOPPAGE}>"><img src="./images/up.png" alt="TopPage"/></a></p>
	<hr class="width50"/>
	<h3>.courierNew</h3>
	<div class="courierNew"><{$smarty.const._MD_XOSTYLE_FONTS_TXT}><p>1 2 3 4 5 6 7 8 9 0 & é ~ " # ' { ( [ - | è ` _ \ ç ^ à @ ° ) ] + = } ^ $ £ ¤ ù % µ * ? / § !</p></div>
	<p class="right smallsmall blue italic"><a href="#" title="<{$smarty.const._MD_XOSTYLE_TOPPAGE}>"><img src="./images/up.png" alt="TopPage"/></a></p>
	<hr class="width50"/>
	<h3>.georgia</h3>
	<div class="georgia"><{$smarty.const._MD_XOSTYLE_FONTS_TXT}><p>1 2 3 4 5 6 7 8 9 0 & é ~ " # ' { ( [ - | è ` _ \ ç ^ à @ ° ) ] + = } ^ $ £ ¤ ù % µ * ? / § !</p></div>
	<p class="right smallsmall blue italic"><a href="#" title="<{$smarty.const._MD_XOSTYLE_TOPPAGE}>"><img src="./images/up.png" alt="TopPage"/></a></p>
	<hr class="width50"/>
	<h3>.lucidaConsole</h3>
	<div class="lucidaConsole"><{$smarty.const._MD_XOSTYLE_FONTS_TXT}><p>1 2 3 4 5 6 7 8 9 0 & é ~ " # ' { ( [ - | è ` _ \ ç ^ à @ ° ) ] + = } ^ $ £ ¤ ù % µ * ? / § !</p></div>
	<p class="right smallsmall blue italic"><a href="#" title="<{$smarty.const._MD_XOSTYLE_TOPPAGE}>"><img src="./images/up.png" alt="TopPage"/></a></p>
	<hr class="width50"/>
	<h3>.lucidaSansUnicode</h3>
	<div class="lucidaSansUnicode"><{$smarty.const._MD_XOSTYLE_FONTS_TXT}><p>1 2 3 4 5 6 7 8 9 0 & é ~ " # ' { ( [ - | è ` _ \ ç ^ à @ ° ) ] + = } ^ $ £ ¤ ù % µ * ? / § !</p></div>
	<p class="right smallsmall blue italic"><a href="#" title="<{$smarty.const._MD_XOSTYLE_TOPPAGE}>"><img src="./images/up.png" alt="TopPage"/></a></p>
	<hr class="width50"/>
	<h3>.tahoma</h3>
	<div class="tahoma"><{$smarty.const._MD_XOSTYLE_FONTS_TXT}><p>1 2 3 4 5 6 7 8 9 0 & é ~ " # ' { ( [ - | è ` _ \ ç ^ à @ ° ) ] + = } ^ $ £ ¤ ù % µ * ? / § !</p></div>
	<p class="right smallsmall blue italic"><a href="#" title="<{$smarty.const._MD_XOSTYLE_TOPPAGE}>"><img src="./images/up.png" alt="TopPage"/></a></p>
	<hr class="width50"/>
	<h3>.times</h3>
	<div class="times"><{$smarty.const._MD_XOSTYLE_FONTS_TXT}><p>1 2 3 4 5 6 7 8 9 0 & é ~ " # ' { ( [ - | è ` _ \ ç ^ à @ ° ) ] + = } ^ $ £ ¤ ù % µ * ? / § !</p></div>
	<p class="right smallsmall blue italic"><a href="#" title="<{$smarty.const._MD_XOSTYLE_TOPPAGE}>"><img src="./images/up.png" alt="TopPage"/></a></p>
	<hr class="width50"/>
	<h3>.trebuchet</h3>
	<div class="trebuchet"><{$smarty.const._MD_XOSTYLE_FONTS_TXT}><p>1 2 3 4 5 6 7 8 9 0 & é ~ " # ' { ( [ - | è ` _ \ ç ^ à @ ° ) ] + = } ^ $ £ ¤ ù % µ * ? / § !</p></div>
	<p class="right smallsmall blue italic"><a href="#" title="<{$smarty.const._MD_XOSTYLE_TOPPAGE}>"><img src="./images/up.png" alt="TopPage"/></a></p>
	<hr class="width50"/>
	<h3>.verdana</h3>
	<div class="verdana"><{$smarty.const._MD_XOSTYLE_FONTS_TXT}><p>1 2 3 4 5 6 7 8 9 0 & é ~ " # ' { ( [ - | è ` _ \ ç ^ à @ ° ) ] + = } ^ $ £ ¤ ù % µ * ? / § !</p></div>
	<p class="right smallsmall blue italic"><a href="#" title="<{$smarty.const._MD_XOSTYLE_TOPPAGE}>"><img src="./images/up.png" alt="TopPage"/></a></p>
	<hr class="width50"/>
	<h3>.msSans</h3>
	<div class="msSans"><{$smarty.const._MD_XOSTYLE_FONTS_TXT}><p>1 2 3 4 5 6 7 8 9 0 & é ~ " # ' { ( [ - | è ` _ \ ç ^ à @ ° ) ] + = } ^ $ £ ¤ ù % µ * ? / § !</p></div>
	<p class="right smallsmall blue italic"><a href="#" title="<{$smarty.const._MD_XOSTYLE_TOPPAGE}>"><img src="./images/up.png" alt="TopPage"/></a></p>
	<hr class="width50"/>
	<h3>.msSerif</h3>
	<div class="msSerif"><{$smarty.const._MD_XOSTYLE_FONTS_TXT}><p>1 2 3 4 5 6 7 8 9 0 & é ~ " # ' { ( [ - | è ` _ \ ç ^ à @ ° ) ] + = } ^ $ £ ¤ ù % µ * ? / § !</p></div>
	<p class="right smallsmall blue italic"><a href="#" title="<{$smarty.const._MD_XOSTYLE_TOPPAGE}>"><img src="./images/up.png" alt="TopPage"/></a></p>
	<hr class="width50"/>
	<h3>.helvetica</h3>
	<div class="helvetica"><{$smarty.const._MD_XOSTYLE_FONTS_TXT}><p>1 2 3 4 5 6 7 8 9 0 & é ~ " # ' { ( [ - | è ` _ \ ç ^ à @ ° ) ] + = } ^ $ £ ¤ ù % µ * ? / § !</p></div>
	<p class="right smallsmall blue italic"><a href="#" title="<{$smarty.const._MD_XOSTYLE_TOPPAGE}>"><img src="./images/up.png" alt="TopPage"/></a></p>
	<hr class="width50"/>
	<h3>.impact</h3>
	<div class="impact"><{$smarty.const._MD_XOSTYLE_FONTS_TXT}><p>1 2 3 4 5 6 7 8 9 0 & é ~ " # ' { ( [ - | è ` _ \ ç ^ à @ ° ) ] + = } ^ $ £ ¤ ù % µ * ? / § !</p></div>
	<p class="right smallsmall blue italic"><a href="#" title="<{$smarty.const._MD_XOSTYLE_TOPPAGE}>"><img src="./images/up.png" alt="TopPage"/></a></p>
	<hr class="width50"/>
	<h3>.century</h3>
	<div class="century"><{$smarty.const._MD_XOSTYLE_FONTS_TXT}><p>1 2 3 4 5 6 7 8 9 0 & é ~ " # ' { ( [ - | è ` _ \ ç ^ à @ ° ) ] + = } ^ $ £ ¤ ù % µ * ? / § !</p></div>
	<p class="right smallsmall blue italic"><a href="#" title="<{$smarty.const._MD_XOSTYLE_TOPPAGE}>"><img src="./images/up.png" alt="TopPage"/></a></p>
	<hr />
	<h2 id="3"><{$smarty.const._MD_XOSTYLE_TITLINEHEIGHT}></h2>
	<h3>.line100</h3>
	<p><span class="line100"><{$smarty.const._MD_XOSTYLE_LINEHEIGHT_TXT}></span></p>
	<h3>.line120</h3>
	<p><span class="line120"><{$smarty.const._MD_XOSTYLE_LINEHEIGHT_TXT}></span></p>
	<h3>.line140</h3>
	<p><span class="line140"><{$smarty.const._MD_XOSTYLE_LINEHEIGHT_TXT}></span></p>
	<h3>.line160</h3>
	<p><span class="line160"><{$smarty.const._MD_XOSTYLE_LINEHEIGHT_TXT}></span></p>
	<h3>.line170</h3>
	<p><span class="line170"><{$smarty.const._MD_XOSTYLE_LINEHEIGHT_TXT}></span></p>
	<h3>.line180</h3>
	<p><span class="line180"><{$smarty.const._MD_XOSTYLE_LINEHEIGHT_TXT}></span></p>
	<h3>.line200</h3>
	<p><span class="line200"><{$smarty.const._MD_XOSTYLE_LINEHEIGHT_TXT}></span></p>
	<h3>.line220</h3>
	<p><span class="line220"><{$smarty.const._MD_XOSTYLE_LINEHEIGHT_TXT}></span></p>
	<h3>.line240</h3>
	<p><span class="line240"><{$smarty.const._MD_XOSTYLE_LINEHEIGHT_TXT}></span></p>
	<p class="right smallsmall blue italic"><a href="#" title="<{$smarty.const._MD_XOSTYLE_TOPPAGE}>"><img src="./images/up.png" alt="TopPage"/></a></p>
	<hr />
	<h2 id="4"><{$smarty.const._MD_XOSTYLE_TITBORDER}></h2>
	<h3><{$smarty.const._MD_XOSTYLE_TITBORDER1}></h3>
	<div class="border center marg10 pad5">.border</div>
	<div class="dotted center marg10 pad5">.dotted</div>
	<div class="dashed center marg10 pad5">.dashed</div>
	<p class="right smallsmall blue italic"><a href="#" title="<{$smarty.const._MD_XOSTYLE_TOPPAGE}>"><img src="./images/up.png" alt="TopPage"/></a></p>
	<div class="width45 floatleft marg5">
		<h3><{$smarty.const._MD_XOSTYLE_TITBORDER2}></h3>
		<div class="solidblack center marg10 pad5">.solidblack</div>
		<div class="solidwhite center marg10 pad5">.solidwhite</div>
		<div class="solidyellow center marg10 pad5">.solidyellow</div>
		<div class="solidblue center marg10 pad5">.solidblue</div>
		<div class="solidorange center marg10 pad5">.solidorange</div>
		<div class="solidgreen center marg10 pad5">.solidgreen</div>
		<div class="solidbrown center marg10 pad5">.solidbrown</div>
		<div class="solidsilver center marg10 pad5">.solidsilver</div>
	</div>
	<div class="width50 floatright marg5">
		<h3><{$smarty.const._MD_XOSTYLE_TITBORDER3}></h3>
		<div class="dottedblack center marg10 pad5">.dottedblack</div>
		<div class="dottedwhite center marg10 pad5">.dottedwhite</div>
		<div class="dottedyellow center marg10 pad5">.dottedyellow</div>
		<div class="dottedblue center marg10 pad5">.dottedblue</div>
		<div class="dottedorange center marg10 pad5">.dottedorange</div>
		<div class="dottedgreen center marg10 pad5">.dottedgreen</div>
		<div class="dottedbrown center marg10 pad5">.dottedbrown</div>
		<div class="dottedsilver center marg10 pad5">.dottedsilver</div>
	</div>
	<div class="clear"></div>
	<p class="right smallsmall blue italic"><a href="#" title="<{$smarty.const._MD_XOSTYLE_TOPPAGE}>"><img src="./images/up.png" alt="TopPage"/></a></p>
	<div class="width45 floatleft marg5">
		<h3><{$smarty.const._MD_XOSTYLE_TITBORDER4}></h3>
		<div class="dashedblack center marg10 pad5">.dashedblack</div>
		<div class="dashedwhite center marg10 pad5">.dashedwhite</div>
		<div class="dashedyellow center marg10 pad5">.dashedyellow</div>
		<div class="dashedblue center marg10 pad5">.dashedblue</div>
		<div class="dashedorange center marg10 pad5">.dashedorange</div>
		<div class="dashedgreen center marg10 pad5">.dashedgreen</div>
		<div class="dashedbrown center marg10 pad5">.dashedbrown</div>
		<div class="dashedsilver center marg10 pad5">.dashedsilver</div>
	</div>
	<div class="width50 floatright marg5">
		<h3><{$smarty.const._MD_XOSTYLE_TITBORDER5}></h3>
		<div class="doubleblack center marg10 pad5">.doubleblack</div>
		<div class="doublewhite center marg10 pad5">.doublewhite</div>
		<div class="doubleyellow center marg10 pad5">.doubleyellow</div>
		<div class="doubleblue center marg10 pad5">.doubleblue</div>
		<div class="doubleorange center marg10 pad5">.doubleorange</div>
		<div class="doublegreen center marg10 pad5">.doublegreen</div>
		<div class="doublebrown center marg10 pad5">.doublebrown</div>
		<div class="doublesilver center marg10 pad5">.doublesilver</div>
	</div>
	<div class="clear"></div>
	<p class="right smallsmall blue italic"><a href="#" title="<{$smarty.const._MD_XOSTYLE_TOPPAGE}>"><img src="./images/up.png" alt="TopPage"/></a></p>
	<div class="width45 floatleft marg5">
		<h3><{$smarty.const._MD_XOSTYLE_TITBORDER6}></h3>
		<div class="grooveblack center marg10 pad5">.grooveblack</div>
		<div class="groovewhite center marg10 pad5">.groovewhite</div>
		<div class="grooveyellow center marg10 pad5">.grooveyellow</div>
		<div class="grooveblue center marg10 pad5">.grooveblue</div>
		<div class="grooveorange center marg10 pad5">.grooveorange</div>
		<div class="groovegreen center marg10 pad5">.groovegreen</div>
		<div class="groovebrown center marg10 pad5">.groovebrown</div>
		<div class="groovesilver center marg10 pad5">.groovesilver</div>
	</div>
	<div class="width50 floatright marg5">
		<h3><{$smarty.const._MD_XOSTYLE_TITBORDER7}></h3>
		<div class="ridgeblack center marg10 pad5">.ridgeblack</div>
		<div class="ridgewhite center marg10 pad5">.ridgewhite</div>
		<div class="ridgeyellow center marg10 pad5">.ridgeyellow</div>
		<div class="ridgeblue center marg10 pad5">.ridgeblue</div>
		<div class="ridgeorange center marg10 pad5">.ridgeorange</div>
		<div class="ridgegreen center marg10 pad5">.ridgegreen</div>
		<div class="ridgebrown center marg10 pad5">.ridgebrown</div>
		<div class="ridgesilver center marg10 pad5">.ridgesilver</div>
	</div>
	<div class="clear"></div>
	<p class="right smallsmall blue italic"><a href="#" title="<{$smarty.const._MD_XOSTYLE_TOPPAGE}>"><img src="./images/up.png" alt="TopPage"/></a></p>
	<div class="width45 floatleft marg5">
		<h3><{$smarty.const._MD_XOSTYLE_TITBORDER8}></h3>
		<div class="insetblack1 center marg10 pad5">.insetblack1</div>
		<div class="insetblack center marg10 pad5">.insetblack</div>
		<div class="insetwhite1 center marg10 pad5">.insetwhite1</div>
		<div class="insetwhite center marg10 pad5">.insetwhite</div>
		<div class="insetyellow center marg10 pad5">.insetyellow</div>
		<div class="insetblue center marg10 pad5">.insetblue</div>
		<div class="insetorange center marg10 pad5">.insetorange</div>
		<div class="insetgreen center marg10 pad5">.insetgreen</div>
		<div class="insetbrown center marg10 pad5">.insetbrown</div>
		<div class="insetsilver1 center marg10 pad5">.insetsilver1</div>
		<div class="insetsilver center marg10 pad5">.insetsilver</div>
	</div>
	<div class="width50 floatright marg5">
		<h3><{$smarty.const._MD_XOSTYLE_TITBORDER9}></h3>
		<div class="outsetblack1 center marg10 pad5">.outsetblack1</div>
		<div class="outsetblack center marg10 pad5">.outsetblack</div>
		<div class="outsetwhite1 center marg10 pad5">.outsetwhite1</div>
		<div class="outsetwhite center marg10 pad5">.outsetwhite</div>
		<div class="outsetyellow center marg10 pad5">.outsetyellow</div>
		<div class="outsetblue center marg10 pad5">.outsetblue</div>
		<div class="outsetorange center marg10 pad5">.outsetorange</div>
		<div class="outsetgreen center marg10 pad5">.outsetgreen</div>
		<div class="outsetbrown center marg10 pad5">.outsetbrown</div>
		<div class="outsetsilver1 center marg10 pad5">.outsetsilver1</div>
		<div class="outsetsilver center marg10 pad5">.outsetsilver</div>
	</div>
	<div class="clear"></div>
	<p class="right smallsmall blue italic"><a href="#" title="<{$smarty.const._MD_XOSTYLE_TOPPAGE}>"><img src="./images/up.png" alt="TopPage"/></a></p>
	<hr />
	<h2 id="5"><{$smarty.const._MD_XOSTYLE_TITMULTICOLUMN}></h2>
	<p class="smallsmall italic"><{$smarty.const._MD_XOSTYLE_TITMULTICOLUMN1}></p>
	<h3>.twocolumn</h3>
	<div class="twocolumn justify"><{$smarty.const._MD_XOSTYLE_MULTICOLUMN_TXT}></div>
	<h3>.threecolumn</h3>
	<div class="threecolumn justify"><{$smarty.const._MD_XOSTYLE_MULTICOLUMN_TXT}></div>
	<h3>.forcolumn</h3>
	<div class="forcolumn justify"><{$smarty.const._MD_XOSTYLE_MULTICOLUMN_TXT}></div>
	<p class="right smallsmall blue italic"><a href="#" title="<{$smarty.const._MD_XOSTYLE_TOPPAGE}>"><img src="./images/up.png" alt="TopPage"/></a></p>
	<h3>.column10</h3>
	<div class="column10"><{$smarty.const._MD_XOSTYLE_MULTICOLUMN_TXT}></div>
	<h3>.column15</h3>
	<div class="column15"><{$smarty.const._MD_XOSTYLE_MULTICOLUMN_TXT}></div>
	<h3>.column20</h3>
	<div class="column20 justify"><{$smarty.const._MD_XOSTYLE_MULTICOLUMN_TXT}></div>
	<h3>.column25</h3>
	<div class="column25 justify"><{$smarty.const._MD_XOSTYLE_MULTICOLUMN_TXT}></div>
	<p class="right smallsmall blue italic"><a href="#" title="<{$smarty.const._MD_XOSTYLE_TOPPAGE}>"><img src="./images/up.png" alt="TopPage"/></a></p>
	<hr />
	<h2 id="6"><{$smarty.const._MD_XOSTYLE_TITBXSHAD}></h2>
	<div class="boxshadow width45 floatleft marg5"><h3>.boxshadow</h3><p class="pad7"><{$smarty.const._MD_XOSTYLE_BXSHAD_TXT}><p></div>
	<div class="boxshadow1 width45 floatright marg5"><h3 class="pad5">.boxshadow1</h3><p class="pad7"><{$smarty.const._MD_XOSTYLE_BXSHAD_TXT}></p></div>
	<div class="marg10 clear"><br /></div>
	<div class="boxrelief width45 floatleft marg5 pad2 bradius5 center" style="background-color: black"><span class="white">.boxrelief <{$smarty.const._MD_XOSTYLE_BXSHAD_DSC1}></span></div>
	<div class="boxinset width45 floatright marg5 pad2 solidsilver bradius5 center"><span>.boxinset <{$smarty.const._MD_XOSTYLE_BXSHAD_DSC1}></span></div>
	<div class="clear"></div>
	<p class="right smallsmall blue italic"><a href="#" title="<{$smarty.const._MD_XOSTYLE_TOPPAGE}>"><img src="./images/up.png" alt="TopPage"/></a></p>
	<hr />
	<h2 id="7"><{$smarty.const._MD_XOSTYLE_TITRNDBORDER}></h2>
	<div class="bradius3 width45 floatleft marg5 solidblack"><h3 class="center">.bradius3</h3><p class="pad7"><{$smarty.const._MD_XOSTYLE_RNDBORDER_TXT}><p></div>
	<div class="bradius5 width45 floatright marg5 solidblack"><h3 class="center">.bradius5</h3><p class="pad7"><{$smarty.const._MD_XOSTYLE_RNDBORDER_TXT}><p></div>
	<div class="clear"><br /></div>
	<div class="bradius10 width45 floatleft marg5 solidblack"><h3 class="center">.bradius10</h3><p class="pad7"><{$smarty.const._MD_XOSTYLE_RNDBORDER_TXT}><p></div>
	<div class="bradius15 width45 floatright marg5 solidblack"><h3 class="center">.bradius15</h3><p class="pad7"><{$smarty.const._MD_XOSTYLE_RNDBORDER_TXT}><p></div>
	<div class="clear"></div>
	<p class="right smallsmall blue italic"><a href="#" title="<{$smarty.const._MD_XOSTYLE_TOPPAGE}>"><img src="./images/up.png" alt="TopPage"/></a></p>
	<hr />
	<h2 id="8"><{$smarty.const._MD_XOSTYLE_TITOPAC}></h2>
	<div class="width45 floatleft marg5"><h3 class="center">.opac5 <{$smarty.const._MD_XOSTYLE_WITHTXT}></h3><p class="pad7 opac5"><{$smarty.const._MD_XOSTYLE_OPAC_TXT}></p></div>
	<div class="width45 floatright marg5 center"><h3>.opac5 <{$smarty.const._MD_XOSTYLE_WITHIMG}></h3><p class="pad7 opac5"><img src="./images/image90.png" alt=""><p></div>
	<div class="clear"><br /></div>
	<div class="width45 floatleft marg5"><h3 class="center">.opac7 <{$smarty.const._MD_XOSTYLE_WITHTXT}></h3><p class="pad7 opac7"><{$smarty.const._MD_XOSTYLE_OPAC_TXT}></p></div>
	<div class="width45 floatright marg5 center"><h3>.opac7 <{$smarty.const._MD_XOSTYLE_WITHIMG}></h3><p class="pad7 opac7"><img src="./images/image90.png" alt=""></p></div>
	<div class="clear"><br /></div>
	<div class="width45 floatleft marg5"><h3 class="center">.opac1 <{$smarty.const._MD_XOSTYLE_WITHTXT}></h3><p class="pad7 opac1"><{$smarty.const._MD_XOSTYLE_OPAC_TXT}>.<p></div>
	<div class="width45 floatright marg5 center"><h3>.opac1 <{$smarty.const._MD_XOSTYLE_WITHIMG}></h3><p class="pad7 opac1"><img src="./images/image90.png" alt=""></p></div>
	<div class="clear"></div>
	<p class="right smallsmall blue italic"><a href="#" title="<{$smarty.const._MD_XOSTYLE_TOPPAGE}>"><img src="./images/up.png" alt="TopPage"/></a></p>
	<hr />
	<h2 id="9"><{$smarty.const._MD_XOSTYLE_TITTABLE}></h2>
	<div class="width45 floatleft marg5">
		<h3><{$smarty.const._MD_XOSTYLE_WITHOUT}></h3>
			<table>
				<tr>
					<td><{$smarty.const._MD_XOSTYLE_LINE1}> - <{$smarty.const._MD_XOSTYLE_CELL1}></td>
					<td><{$smarty.const._MD_XOSTYLE_LINE1}> - <{$smarty.const._MD_XOSTYLE_CELL2}></td>
					<td><{$smarty.const._MD_XOSTYLE_LINE1}> - <{$smarty.const._MD_XOSTYLE_CELL3}></td>
				</tr>
				<tr>
					<td><{$smarty.const._MD_XOSTYLE_LINE2}> - <{$smarty.const._MD_XOSTYLE_CELL1}></td>
					<td><{$smarty.const._MD_XOSTYLE_LINE2}> - <{$smarty.const._MD_XOSTYLE_CELL2}></td>
					<td><{$smarty.const._MD_XOSTYLE_LINE2}> - <{$smarty.const._MD_XOSTYLE_CELL3}></td>
				</tr>
				<tr>
					<td><{$smarty.const._MD_XOSTYLE_LINE3}> - <{$smarty.const._MD_XOSTYLE_CELL1}></td>
					<td><{$smarty.const._MD_XOSTYLE_LINE3}> - <{$smarty.const._MD_XOSTYLE_CELL2}></td>
					<td><{$smarty.const._MD_XOSTYLE_LINE3}> - <{$smarty.const._MD_XOSTYLE_CELL3}></td>
				</tr>
			</table>
	</div>
	<div class="width50 floatleft marg5">
		<h3>with style</h3>
			<table class="width95 separate border bspacing5 center">
			<caption>table class="width95 separate border bspacing5 center"</caption>
				<tr>
					<td class="dotted"><{$smarty.const._MD_XOSTYLE_LINE1}> - <{$smarty.const._MD_XOSTYLE_CELL1}><br /><span class="xx-small center">td class="dotted"</span></td>
					<td class="dashed"><{$smarty.const._MD_XOSTYLE_LINE1}> - <{$smarty.const._MD_XOSTYLE_CELL2}><br /><span class="xx-small center">td class="dashed"</span></td>
					<td class="border"><{$smarty.const._MD_XOSTYLE_LINE1}> - <{$smarty.const._MD_XOSTYLE_CELL3}><br /><span class="xx-small center">td class="border"</span></td>
				</tr>
				<tr>
					<td class="border"><{$smarty.const._MD_XOSTYLE_LINE2}> - <{$smarty.const._MD_XOSTYLE_CELL1}><br /><span class="xx-small center">td class="border"</span></td>
					<td class="dotted"><{$smarty.const._MD_XOSTYLE_LINE2}> - <{$smarty.const._MD_XOSTYLE_CELL2}><br /><span class="xx-small center">td class="dotted"</span></td>
					<td class="dashed"><{$smarty.const._MD_XOSTYLE_LINE2}> - <{$smarty.const._MD_XOSTYLE_CELL3}><br /><span class="xx-small center">td class="dashed"</span></td>
				</tr>
				<tr>
					<td class="solidblue aligntop"><{$smarty.const._MD_XOSTYLE_LINE3}> - <{$smarty.const._MD_XOSTYLE_CELL1}><br /><span class="xx-small center">td class="solidblue aligntop"</span></td>
					<td class="doubleblue alignmiddle"><{$smarty.const._MD_XOSTYLE_LINE3}> - <{$smarty.const._MD_XOSTYLE_CELL2}><br /><span class="xx-small center">td class="doubleblue alignmiddle"</span></td>
					<td class="dashedblue alignbottom"><{$smarty.const._MD_XOSTYLE_LINE3}> - <{$smarty.const._MD_XOSTYLE_CELL3}><br /><span class="xx-small center">td class="dashedblue alignbottom"</span></td>
				</tr>
			</table>
	</div>
	<p class="right smallsmall blue italic"><a href="#" title="<{$smarty.const._MD_XOSTYLE_TOPPAGE}>"><img src="./images/up.png" alt="TopPage"/></a></p>
</div>