<!-- @version $Id $ -->
<div id="xo-style-smarty">
<h1 class="center"><{$smarty.const._MD_XOSTYLE_TITLE2}></h1>
<h2>For Theme</h2>
<p>Ces variables smarty, qu'elles soient assignées par Xoops ou réservées pour Smarty et sont utilisables dans tous les templates.</p>
<table>
    <tr><td class="width33 alignmiddle">$xoops_meta_keywords</td><td>Balise méta: mots clefs<br />ex: <span class="italic small green"><{$xoops_meta_keywords}></span></td></tr>
    <tr><td class="width33 alignmiddle">$xoops_meta_description</td><td>Balise méta: description<br />ex: <span class="italic small green"><{$xoops_meta_description}></span></td></tr>
	<tr><td class="width33 alignmiddle">$xoops_meta_author</td><td>Balise méta: auteur<br />ex: <span class="italic small green"><{$xoops_meta_author}></span></td></tr>
	<tr><td class="width33 alignmiddle">$meta_copyright</td><td>Balise méta: copyright<br />ex: <span class="italic small green"><{$xoops_copyright}></span></td></tr>
	<tr><td class="width33 alignmiddle">$meta_robots</td><td>Balise méta: robots<br />ex: <span class="italic small green"><{$xoops_robots}></span></td></tr>
	<tr><td class="width33 alignmiddle">$xoops_footer</td><td>Insère le pied de page<br />ex: <span class="italic small green"><{$xoops_footer}></span></td></tr>
	<tr><td class="width33 alignmiddle">$xoops_sitename</td><td>Nom du site, ex: <span class="italic small green"><{$xoops_sitename}></span></td></tr>
	<tr><td class="width33 alignmiddle">$xoops_pagetitle</td><td>Titre de la page courante<br />ex: <span class="italic small green"><{$xoops_pagetitle}></span></td></tr>
	<tr><td class="width33 alignmiddle">$xoops_theme</td><td>Nom du thème courant<br />ex: <span class="italic small green"><{$xoops_theme}></span<</td></tr>
	<tr><td class="width33 alignmiddle">$xoops_themecss</td><td>Url de la feuille de style principale du thème<br />ex: <span class="italic small green"><{$xoops_themecss}></span></td></tr>
	<tr><td class="width33 alignmiddle">$xoops_banner</td><td>Affichage bannière publicitaire</td></tr>
	<tr><td class="width33 alignmiddle">$xoops_content</td><td>Affichage du contenu "principal" central de la page courante</td></tr>
	<tr><td class="width33 alignmiddle">$xoops_showcblock</td><td>0 ou 1 selon que le bloc centre doit être affiché *</td></tr>
	<tr><td class="width33 alignmiddle">$xoops_showlblockr</td><td>0 ou 1 selon que le bloc gauche doit être affiché *</td></tr>
	<tr><td class="width33 alignmiddle">$xoops_showrblock</td><td>0 ou 1 selon que le bloc droit doit être affiché *</td></tr>
	<tr><td class="width33 alignmiddle">$xoops_slogan</td><td>Slogan du site<br />ex: for this website --> <span class="italic small green"><{$xoops_slogan}></span></td></tr>
	<tr><td class="width33 alignmiddle">$xoops_imageurl</td><td>Url des images du theme<br />ex: <span class="italic small green"><{$xoops_imageurl}></span></td></tr>
	<tr><td class="width33 alignmiddle">$xoops_isadmin</td><td>1 si administrateur</td></tr>
	<tr><td class="width33 alignmiddle">$xoops_isuser</td><td>1 si user</td></tr>
	<tr><td class="width33 alignmiddle">$xoops_uname</td><td>pseudo de l'user, sinon terme choisi pour anonyme<br />ex: for you --><span class="italic small green"><{$xoops_uname}></span<</td></tr>
	<tr><td class="width33 alignmiddle">$xoops_name</td><td>nom réel de l'user, sinon terme choisi pour anonyme<br />ex: for you --><span class="italic small green"><{$xoops_name}></span></td></tr>
	<tr><td class="width33 alignmiddle">$xoops_requesturi</td><td>Url demandée, ayant conduit sur cette page<br />ex: <span class="italic small green"><{$xoops_requesturi}></span></td></tr>
	<tr><td class="width33 alignmiddle">$xoops_userid</td><td>id de l'user, 0 si anonyme<br />ex: for you --> <span class="italic small green"><{$xoops_userid}></span></td></tr>
</table>
<p>Variables nécessaires au template du thème: theme.html</p>
<table>
	<tr><td class="width33 alignmiddle">$xoops_charset</td><td>Ex. ISO-8859-1 or UTF-8<br />ex: <span class="italic small green"><{$xoops_charset}></span></td></tr>
	<tr><td class="width33 alignmiddle">$xoops_langcode</td><td>Code de la langue 2 caratères: en, fr, etc.<br />ex: <span class="italic small green"><{$xoops_langcode}></span></td></tr>
	<tr><td class="width33 alignmiddle">$xoops_url</td><td>Url du site<br />ex: <span class="italic small green"><{$xoops_url}></span></td></tr>
	<tr><td class="width33 alignmiddle">$xoops_rootpath</td><td>Chemin physique du répertoire de xoops<br />ex: <span class="italic small green"><{$xoops_rootpath}></span></td></tr>
	<tr><td class="width33 alignmiddle">$xoops_version</td><td>Version de Xoops (ex. Xoops 2.5.0)<br />ex: <span class="italic small green"><{$xoops_version}></span></td>	</tr>
	<tr><td class="width33 alignmiddle">$xoops_upload_url</td><td>Url du répertoire d'upload<br />ex: <span class="italic small green"><{$xoops_upload_url}></span></td></tr>
</table>
<hr />
<h2>Smarty variables for templates</h2>
<hr />
<h2>Smarty variables for mail templates</h2>
</div>