/* 500 and 503 pages */
* { margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif;}
html {font-size:100.01%;}
body { font-size: 75%; background-color: #f0f0f0; text-align: center;}
#xo-siteblocked {
	border: 1px solid #C0C4C0;
	width: 375px;
	height: 318px;
	margin: 150px auto;
	text-align: center;
	background-color: #FFF;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: 30px 50px;
	padding-left: 300px;
	padding-right: 30px;
	border-radius: 15px;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
}
h1 {font-size: 1.7em; margin: 45px 0 30px 0;}
h2 {font-size: 1.5em; margin: 0 0 30px 0;}
h1, h2 {font-weight: normal; text-shadow: 1px 1px 2px #ccc;}
a, a:visited {color: #2CB0FF; text-decoration: none;}
p { font-size: 1.3em; margin-top: 12px; line-height: 2em;}
p.xo-siteblocked-message { height: 80px;}
p.xo-siteblocked-desc { font-size: .9em; font-style: italic; margin-top: 25px;}