/* based on http://www.unverse.net/whizzery/simple.css */
/* tables pasted in from MS Word */
.MsoNormalTable, .MsoTableGrid {width:auto !important; border-collapse: collapse!important;}
.MsoNormalTable *, .MsoTableGrid * {width:auto !important; padding:.5em !important; margin:0 !important; }

