#xo-503 { margin-top: 3em; text-align: center;}
#xo-503 h1 { font-size: 4em; font-weight: bold; text-shadow:3px 3px 0 #aaa;}
.xo-503-desc {padding-top: 1em;}
.xo-numerrors {font-size:10em; font-weight: bold; text-shadow:3px 3px 0 #aaa;}