/* facebook box */
.fan_box {font-family: Arial, Helvetica, sans-serif !important;}
.fan_box .profileimage, .fan_box .name_block { display: none;}
.fan_box .connect_action .name {}

.fan_box .full_widget .connect_top {
	border: 			none;
	height: 			auto;
	background-color: 	transparent;
}
.fan_box .full_widget {
	border: 			none;
	background: 		none !important;
	position: 			relative;
}
.fan_box .connect_button{ padding: 0 5px !important; text-align: center;}
.fan_box .connect_button .UIActionButton{ margin: 5px !important;}

.fan_box a:hover {text-decoration: none;}
.fan_box .connect_top{
	background: 		none !important;
	padding: 			0 !important;
}
.connect_top a {	color: #E06813;}
.connect_top a:hover { color: #474036; text-decoration: none;}
.fan_box .connections {
	background-color: 	transparent;
	padding: 			5px 0 0 0 !important;
	color: 				#787878;
	font-family: 		Arial, Helvetica, sans-serif;
	font-size: 			9px;
	border: 			none;
}
span.total{ color: #E06813; font-weight: bold;}
.fan_box .connections_grid .grid_item .name {	color: #787878;}

.fan_box .page_stream {font-size: 8px !important;}
.fan_box .page_stream .loader {font-size: 8px !important;}


/*
.fan_box .connections .connections_grid {
  padding-top: 10px !important;
}
.fan_box .connections_grid .grid_item{
  padding: 0 10px 10px 0 !important;
}
.fan_box .connections_grid .grid_item .name{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #787878!important;
  padding-top: 1px !important;
}
}*/

/*
.UILiteSwitchBar{background-color:#2f477a;padding:6px 10px;text-align:right}
.UILiteSwitchBar, .UILiteSwitchBar a{color:#9daccc !important}
.UILiteSwitchBar a{text-decoration:underline !important}
body.fan_widget{background:transparent}
.fan_box .full_widget{border:solid 1px #94a3c4;background:white}
.fan_box .full_widget .connect_top{background:#eceff5}
.fan_box .connect_top{padding:10px 10px 8px 10px}
.fan_box .profileimage{float:left;width:40px;height:40px;padding:0 10px 0 0;margin:0 0 4px 0}
.fan_box .connect_action{padding:0 0 0 8px}
.fan_box .connect_action .name{line-height:15px;font-size:14px;font-weight:bold}
.fan_box .connect_button{padding-top:5px}
.fan_box .connect_button .UIActionButton{margin:1px 0 0 0}
.fan_box .connect_action a.undo{margin:0 0 0 3px}
.fan_box .page_stream{text-align:center;padding:0 10px;height:300px;overflow:auto;border-top:solid 1px #d8dfea;position:relative}
.fan_box .page_stream .loader{padding-top:20px}
.fan_box .UIIntentionalStory{background:transparent;text-align:left;padding:7px 0 0 0}
.fan_box .UIIntentionalStory .UIMediaItem_UnknownWidth{max-width:100px}
.fan_box .connections{border-top:solid 1px #d8dfea;padding:10px 0 4px 10px;min-height:150px}
.fan_box .connections .connections_grid{padding-top:5px}
.fan_box .connections_grid .grid_item{float:left;padding:0 5px 8px 0;overflow:hidden;width:50px}
.fan_box .connections_grid .grid_item .name{font-size:9px;color:#808080;overflow:hidden;padding-top:2px;text-align:center;white-space:nowrap}
.fan_box .hidden{display:none}
.fan_box .connect_span{margin:0 0 1px 0}
.fbpage_edit_header{padding:0;margin:0;height:31px;border:0;margin:-7px 0 19px;border-bottom:1px solid #ccc;background:#fff}
.pages_edit .fbpage_edit_header{margin:0}
.icon_dock{margin:0;padding:0;width:300px;float:right}
.icon_dock .icon_dock_container{margin:0;padding:0;padding-top:8px;float:right;z-index:30}
.icon_dock .edit_link{padding-right:8px;padding-top:10px;font-weight:bold;color:#666;display:block;margin:0;float:right}
.icon_dock a{padding:0;padding-left:5px;padding-top:8px;margin:0 0 0 0}
.edit_app_switcher{margin:0 0;padding-top:6px}
.edit_app_switcher .app_switcher_button .name{padding:2px 0 2px 6px}
.edit_app_switcher .app_switcher_menu{width:160px}
.edit_app_switcher .app_switcher_menu .name{width:105px;text-align:left}
.edit_app_switcher .app_switcher_button .arrow{padding:2px 0 1px}
.fbpage_edit_header .left_header{float:left;font-size:11px;font-weight:bold;overflow:hidden;padding:7px 0 2px;white-space:nowrap;width:250px}
.fbpage_edit_header .left_header_text{padding-left:5px;position:relative;top:-4px}
.fbpage_edit_header div.left_header .edit_link{font-weight:normal;padding-left:4px;color:#ccc}
.fbpage_edit_header div.left_header .edit_link a{color:#6d84b4}
.pages_viewer_settings{margin:0;padding:0}
.pages_viewer_settings .profile_pic{width:100px;padding:0;float:left;padding-right:10px}
.pages_viewer_settings .checkbox_table{margin:10px 0;font-weight:normal;color:#000}
.pages_viewer_settings .checkbox_table .checkbox{vertical-align:top}
.pages_viewer_settings .checkbox_table label{font-weight:normal;color:#000}
.pages_viewer_settings .checkbox_table label .fbpage_profile_viewer_settings_subtext{font-size:9px;color:#808080}
.pages_viewer_settings .privacy_explanation{font-size:9px;color:#808080}
.fan_status_inactive{background-color:#fffccc;color:#666;margin:0;padding:0 0 0 3px;line-height:18px}
.SocialGraphPage_Container{padding-top:20px}
.SocialGraphPage_SearchContainer{padding-left:0;padding-right:0;padding-bottom:7px}
.SocialGraphPage_SearchContainer #SocialGraphPage_Search{height:14px;margin:0;width:128px}

#bootloader_css_7yo2z61mpu88g84k_pkg_css { height: 42px; }
*/