/* $Id$ */
  
h1, h2, h3, h4, th, li, .head {text-shadow:	2px 2px 3px #aaa;}

#xo-banner{
	padding: 0;
	height:80px;
	background: url(../img/xo-banner_bg.png) repeat-x;
	border-bottom: 3px solid #9ACD32;
}
#xo-main-logo {
	position: 						relative;
	top: 							15px;
	background: 					transparent;
	padding-left: 					10px;
	color:							#666;
}
#xo-version {
	position: 						absolute;
	top: 							30px;
	padding-left: 					270px;
	font-size:						2.1em;
	color: #ccc;
	text-shadow:				2px 2px 3px #aaa; 
}
.shadow {text-shadow:				2px 2px 3px #aaa;}
/*============== Style for userbar.html =================*/
#xo-userbar {
	float: 							right;
	background-color: 			inherit;
	padding-top: 					40px;
	padding-right:					1em;
	color:							#666;
}
/*#xo-userbar form {
	display:							inline;
	padding:							0;
}
#xo-userbar button {
	margin: 							0 -3px;
	background-color:				transparent;
	background-image: 			none;
	padding:							0;
	border:							none;
	color: 							inherit;
}
#xo-userbar button img {	width: 16px; height: 16px;
 }
 #xo-userbar button:hover {border: 0 !important; }
#xo-userbar img {	width: 	16px;	height: 16px;}*/
/*#xo-userbar input {
	width: 							80px;
	background-color: 			#c6c7c9;
	color:							#333;
}
#xo-userbar input:hover {
	background-color: 			#DBDCDC;
	color:							#333;
}*/
#xo-userbar a {
	background-color: 			inherit;
	color: 							#32529C;
	text-decoration:				none;
}
#xo-userbar a:hover {
	background-color: 			inherit;
	color: 							#EAAD7B;
}
a#xo-uname {
	background-color:				inherit;
	color: 							#ff0000;
	font-size:						1.1em;
	font-weight:					bold;
}
/*========== Style for searchbar.html ==============*/
#xo-searchbar {
	display:							block;
	float: 							right;
	margin-top: 					2em;
	margin-right : 					1em;
}
#xo-searchbar input[type=submit] {
	margin-left: 					5px;
	padding: 						2px;
	background-color: transparent;
	border: 1px solid silver;
	border-radius:5px;-moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius: 10px;
	color:Silver;
}
#xo-searchbar input[type=text]{
	background-color: transparent;
	border: 1px solid silver;
	border-radius:5px;-moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius: 10px;
	color:							#E9F0F7;
	font-size:1em;
	padding: 						2px;
	text-shadow:	2px 2px 3px #aaa;
}
#xo-searchbar input[type=text]:hover, #xo-searchbar input[type=submit]:hover {
	border: 1px solid #E9F0F7; color:#E9F0F7;}
/*========== content ==============*/
#xo-canvas-content{
	/*max-width:1400px;*/
	width: 95%;
	margin: 10px auto;
	margin-bottom: 50px;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 8px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
#xo-index {	width: 100%;	border: 0;}
#xo-modules {width: 40% !important;}
#xo-menusystem {	width: 60% !important;}
#buttonbar, .outer a {text-shadow:	2px 2px 3px #aaa;}
th {	background: url(../img/tab_bg.png) repeat left;}

/*========== forms ==============*/
.xo-formbuttons, .formButton, button {
	margin-top :				2px;
	margin-bottom :			2px;
	padding : 3px;
	/*background: url(../img/tab_bg.png) repeat left;*/
	background-color: #9ACD32;
	color: #fff;
	border: 1px solid #ccc;
	border-radius:5px !important;-moz-border-radius:5px !important; -webkit-border-radius:5px !important; -khtml-border-radius: 10px !important;
	font-size: 1em;
	font-weight: bold;
}
.xo-formbuttons:hover, .formButton:hover, button:hover {
	border: 					1px solid #505050 !important;
	cursor:						pointer;
	font-weight: normal;
}

/*========== Style for xo_footer.html ==============*/
#xo-footer {
	padding: 4px;
	background-color: #F1F1FC;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	color: #666;}

/*========== Style for xo_footerstatic.html ==============*/
#xo-footerstatic * {padding: 0; margin: 0;}
#xo-footerstatic {
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:30px;
  background: none;
  color:black;
  font-size:11px;
}
body>#xo-footerstatic {  position:fixed;}
#xo-footerstatic #controls {
  background: #fff;
  margin: 0 20px 0 20px;
  line-height: 39px;
  border: 1px solid #b5b5b5;
  border-bottom: none;
  text-shadow:	2px 2px 3px #aaa;
}
#xo-footerstatic #controls  {
  background: /*#e5e5e5*/#E7F4F7;
  margin-top: 1px;
  padding: 3px 10px 0 10px;
}
#xo-footerstatic .separator {  border-left: 1px solid #b5b5b5;  margin-left: 3px;}
#xo-footerstatic #controls ul, li {  margin: 0;  padding: 0;}
#xo-footerstatic #controls ul {  list-style: none;}
#xo-footerstatic #controls li {
  display: inline-block;
  line-height: 27px;
  height: 29px;
  padding-right: 6px;
}
#xo-footerstatic .icon {  vertical-align: text-bottom;}
#xo-footerstatic .icon-chat {  padding-top: 3px;}
#xo-footerstatic .chat, .icon-chat {  float: right;}
#xo-footerstatic .text {  vertical-align: top;}
