/* $Id$ */

/* IMPORTANT, PLEASE RESPECT THIS SEMANTIC ORDER !!! : position box; width; heigth; margin; background-color; background-image; padding; content (color, style font, ...); border ... */

/*@font-face {
    font-family: BakerSignet BT;
    font-style:  normal;
    font-weight: normal;
    src: url(../img/BAKERSI3.eot);
  }*/
  
/*========== xo_footerstatic.html ==========*/
#xo-footerstatic * { margin: 0; padding: 0;}
#xo-footerstatic {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: none;
  color: #000;
  font-size: 11px;
}
body>#xo-footerstatic {  position: fixed;}
#xo-footerstatic #controls {
  margin: 0 20px 0 20px;
  background-color: #fff;
  line-height: 39px;
  text-shadow:	2px 2px 3px #aaa;
  border: 1px solid #b5b5b5;
  border-bottom: none;
}
#xo-footerstatic #controls  { margin-top: 1px; background: #E7F4F7; padding: 3px 10px 0 10px;}
#xo-footerstatic .separator { margin-left: 3px; border-left: 1px solid #b5b5b5;}
#xo-footerstatic #controls ul, li { margin: 0;  padding: 0;}
#xo-footerstatic #controls ul { list-style: none;}
#xo-footerstatic #controls li { display: inline-block; height: 29px; line-height: 27px; padding-right: 6px;}
#xo-footerstatic .icon { vertical-align: text-bottom;}
#xo-footerstatic .icon-chat { padding-top: 3px;}
#xo-footerstatic .chat, .icon-chat { float: right;}
#xo-footerstatic .text { vertical-align: top;}

/*========== reset css selectors ==========*/
* { margin: 0; padding: 0; text-decoration: none; font-family: sans-serif; font-size: 1em; font-weight: normal; font-style: normal; border: 0; outline: none;}

/*========== General definitions ==========*/
html { }
body { width: 100%; margin: 0; background-color : #E9F0F7; padding: 0; line-height: 1.2em; font-size: 9pt; font-family: "BakerSignet BT", Verdana, Arial, Helvetica, sans-serif;}
img {border: none;}
hr { width: 95%; height: 3px; border: 3px #E18A00 solid;}
ul { margin: 2px; padding: 2px; list-style: decimal inside; text-align: left;}
li { margin-left: 2px; padding-bottom: 5px; list-style: circle inside; color: #000;}
h1, h2, h3, h4, th, li, .head {text-shadow:	2px 2px 3px #aaa;}
h1 { font-size: 1.8em; padding-bottom:.5em;}
h2 { font-size: 1.4em;}
h3 { font-size: 1.3em;}
h4 { padding-bottom:.8em; padding-top:.6em; font-size: 1.2em; font-weight:bold;}
a:link { background-color: transparent; text-decoration: none; color: #4177A6; font-weight: bold;}
a:visited { background-color: transparent; text-decoration: none; color: #4177A6; font-weight: bold;}
a:hover { background-color: transparent; color: #FF4500; font-weight: bold;}
strong {font-weight:bold;}
.shadow {text-shadow: 2px 2px 3px #aaa;}

/*========== Layout ==============*/
#xo-canvas-content{
	width: 95%;
	max-width:1400px;
	margin: 10px auto;
	margin-bottom: 50px;
	background-color: #fff;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
#xo-index {	width: 100%; height:auto; border: 0;}
#xo-modules {width: 40% !important;}
#xo-menusystem {	width: 60% !important;}

/*========== content ==============*/
.bg_menu {}
.bg_content {}
.hbar_middle {}
.hbar_left {}
.hbar_right {}
.bg1 {}
.bg2 {}
.bg3 {}
.bg4 {}
.bg5 {}

/*========== xo_banner.html ==========*/
#xo-banner{	height:80px; background: url(../img/xo-banner_bg.png) repeat-x;	padding: 0; border-bottom: 3px solid #9ACD32;}
#xo-main-logo {	position:relative; top: 15px; background: transparent; padding-left: 10px;	color:	#666;}
#xo-version {position: absolute;	top: 30px; padding-left: 270px; font-size: 2.1em; color: #ccc; text-shadow: 2px 2px 3px #aaa;}

/*========== xo_userbar.html ==========*/
/*#xo-userbar { float: right; background-color: inherit; padding-top: 0; padding-right: 1em; color: #666;}
#xo-userbar a {	background-color: inherit;	color: #32529C;	text-decoration: none;}
#xo-userbar a:hover { background-color: inherit;	color: 	#EAAD7B;}
a#xo-uname { background-color: inherit; color: #ff0000; font-size: 1.1em; font-weight: bold;}*/

/*========== xo_searchbar.html ==========*/
#xo-searchbar {	display: block;	float: right; margin-top: 2em; margin-right : 1em;}
#xo-searchbar input[type=submit] {
	margin-left: 5px;
	background-color: transparent;
	padding: 2px;
	color: Silver;
	border: 1px solid silver;
	border-radius:5px;-moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius: 10px;
}
#xo-searchbar input[type=text]{
	background-color: transparent;
	padding: 2px;
	color:	#E9F0F7;
	font-size:1em;
	text-shadow: 2px 2px 3px #aaa;
	border: 1px solid silver;
	border-radius:5px;-moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius: 10px;
}
#xo-searchbar input[type=text]:hover, #xo-searchbar input[type=submit]:hover { color:#E9F0F7; border: 1px solid #E9F0F7;}

/*========== Code and Quote Definition ==========*/
.xoopsCode { background-color: #FAFAFA; font-size: .9em; color: #006600; border: #c2cdd6 1px dashed;}
.xoopsQuote { background-color: #FAFAFA; line-height: 1.25em; text-align: justify; font-size: .9em; color: #444; border: #c2cdd6 1px dashed;}

/* Links for Quotes */
.xoopsQuote a:link, .xoopsQuote a:visited { background-color: transparent; color: #444; font-weight: bold;}
.xoopsQuote a:hover, .xoopsQuote a:active { background-color: transparent; color: #1778cb;}

/*========== Redirect messages ==========*/
.errorMsg,.confirmMsg, .resultMsg  { margin-bottom: 1em; padding: .8em; text-align:center; text-shadow: 2px 2px 3px #aaa; border: 2px solid #ddd; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;}
.errorMsg      { background-color: #FBE3E4; color: #D12F19; border-color: #FBC2C4; }
.confirmMsg     { background-color: #FFF6BF; color: #817134; border-color: #FFD324; }
.resultMsg    { background-color: #E6EFC2; color: #529214; border-color: #C6D880; }
.errorMsg a    { background-color: transparent; color: #D12F19; }
.confirmMsg a   { background-color: transparent; color: #817134; }
.successMsg a  { background-color: transparent; color: #529214; }

/*========== General small ==========*/
.fontSmall { background-color: transparent; font-size : .8em;}
/*a.fontSmall { color: #006699;}
a.fontSmall:hover { color: #C23030; text-decoration: underline;}*/

/*========== forms elements ==========*/
input,textarea,select {	background-color: #fff; font-size: .9em; border: 1px solid #ccc;}
input:focus, textarea:focus, select:focus{	border: 1px solid #999;}
textarea {width: 95%; overflow: auto;}
.xo-formbuttons, .formButton, button {
	margin-top : 2px;
	margin-bottom :	2px;
	background-color: #9ACD32;
	padding : 3px;
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	border: 1px solid #ccc;
	border-radius:5px !important;-moz-border-radius:5px !important; -webkit-border-radius:5px !important; -khtml-border-radius: 10px !important;
}
.xo-formbuttons:hover, .formButton:hover, button:hover {font-weight: normal; cursor: pointer;  border: 1px solid #505050 !important;}
#buttonbar, .outer a {text-shadow:	2px 2px 3px #aaa;}

/*========== table ==========*/
caption {font-weight: bold;}
.outer {border: 1px solid #ccc;}
.outer th {font-size:1.1em; font-weight:bolder;}
.head {background-color: #EBEBEB; padding: 5px; font-weight: bold;}
.even {background-color: #fff; padding: 5px;  border-bottom: 1px solid #ccc; }
.odd {background-color: #EFEFEF; padding: 5px; border-bottom: 1px solid #ccc; }
.foot, tfoot {background-color: #E1E7EF; padding: 5px; font-weight: bold;}
tr.head td {background-color: #BDE3FB; padding: 5px; font-weight: bold;}
tr.even td {background-color: #fff; padding: 5px; border-bottom: 1px solid #ccc;}
tr.odd td {background-color: #EFEFEF; padding: 5px; border-bottom: 1px solid #ccc; }
tr.foot td {background-color: #E1E7EF; padding: 5px; font-weight: bold;}
th, thead { background: url(../img/tab_bg.png) repeat left;}
th {background-color: #56BAFA; padding : 4px; vertical-align : middle; color: #fff;}

/*========== xo_systembar.html ==========*/
#navbarCP{ height: 24px; background-color: #F1F1FC; font-weight: normal; font-size:.9em; border-top: 1px solid #fff; border-bottom: 1px solid #ccc;}
/*#navbarCP ul{ list-style: none; padding: 0; margin: 0; margin-left: 1em;}
#navbarCP ul li{ list-style: none;	padding: 0;	float: left; margin: 0;	margin-left: 3px; position: relative;}
#navbarCP ul li a{	padding: 4px; display: block; color: #000; font-weight: normal;	border: 1px solid #F1F1FC;}
#navbarCP ul li a:hover{ background-color: #E7F4F7;	border-color: #ADD8E6;}
#navbarCP ul li ul{	display: none;	position: absolute; top: 1em;	left: 0; background: #fff; border: 1px solid #ccc; padding: 0; margin: 0;}
#navbarCP ul li ul a{ color: #666; font-weight: normal; background: url(../img/item.png) no-repeat left; padding-left: 20px; border: 1px solid #fff;}
#navbarCP ul li ul a:hover{	color: #000; background-color: #E7F4F7; border-color: #ADD8E6;}
#navbarCP ul li ul li{ width: 150px;	margin: 0;}
#navbarCP ul li > ul { top: auto; left: auto;}
#navbarCP ul li>ul,#navbarCP ul ul li>ul{top: auto; left: auto;}
#navbarCP ul li:hover ul, d#navbarCP li.over ul{ display: block; }
#navbarCP ul li ul li{ float: none;}*/

#nav {list-style:none; margin-left: 1em;}
#nav ul {padding: 0; margin: 0; list-style: none; position: absolute; overflow: visible;}
#nav ul {display:none; border: 1px solid #ccc; margin-top: 5px;}
#nav li {margin: 0; position: relative; float: left; margin-left: 3em; display: block; height: auto;}
#nav ul li {background: #fff; width: 12em; margin-left: 0;}
#nav ul li {}
#nav ul ul li {}
#nav ul ul li:last-child {border-width: 1px;}
#nav a {color: #000; font-weight: normal; text-decoration :none; display: block;}
#nav ul li a {padding: 4px; display: block; color: #666; font-weight: normal; background: url(../img/item.png) no-repeat left; padding-left: 20px;}
#nav a:hover, #nav li:hover { background-color: #E7F4F7;}
#nav ul li:hover, #nav ul li a:hover {color: #000; background-color: #E7F4F7; border-color: #ADD8E6;}
#nav ul ul, #nav ul ul ul { display: none; position: absolute; margin-top: -1.6em; margin-left: 12em; border: 1px solid #ccc;}
#nav ul li>ul, #nav ul ul li>ul { margin-top:-1.35em;}
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul, #nav li:hover ul ul ul ul ul {display:none;}
#nav li:hover ul, #nav ul li:hover ul, #nav ul ul li:hover ul, #nav ul ul ul li:hover ul, #nav ul ul ul ul li:hover ul {display:block;}

/*========== xo_toolsbar.html ==========*/
/*#navOptionsCP{ padding: 0 5px 0 5px; background: #F1F1FC; border-top: 1px solid #fff; border-bottom: 1px solid #ccc; height: 35px;}
#navOptionsCP a{ border: 1px solid #DFE0FD; height: 32px; display: block; width: 32px; float: right; margin: 0; margin-right: 2px;}
#navOptionsCP a:hover{ background-color: #E7F4F7; border-color: #ADD8E6;}*/
/*#navOptionsCP .modname{float: left; font-size: 1.4em; font-weight: bold; color: Silver; margin-top: 4px; margin-left: 1em;}*/
/*#navOptionsCP .module{ float: left; font-weight: bold; color: Silver; margin-top: 4px;}*/
/*.CPrssLinks{	padding: 4px;}
.CPrssLinks a{background: url(../img/item.png) no-repeat left;padding: 2px;	display: block;	padding-left: 18px;}
#xo-menusystem .CPbigTitle {	background: url(../img/modules.png) no-repeat left;}
#xo-modules .CPbigTitle { background: url(../img/cp.png) no-repeat left;}*/

/*========== xo_menusystem.html and xo_modules.html ==========*/
.CPbigTitle{
	height: 40px;
	background: no-repeat left top;
	padding: 10px 0 0 50px;
	vertical-align: middle;
	color: #1E90FF;
	font-size: 1.5em;
	font-weight: bold;
	text-shadow: 2px 2px 3px #aaa; 
	border-bottom: 3px solid #1E90FF;
}
.CPindexOptions{ padding: 4px;	vertical-align: top;}
.CPmediumTitle{	color: #FF4500; font-weight: bold; font-size: 1.2em; text-shadow: 2px 2px 3px #aaa;}
.cpicon{ margin: 5px; text-align: center;}
.cpicon a { 
	display: block; float: left;
	width: 110px !important; 
	height: 100px !important;
	margin: 5px;
	padding: 2px 5px 1px 5px;
	vertical-align: middle;
	color: #666; 
	text-decoration : none;
	border: 1px solid #ccc;
	border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; -khtml-border-radius: 10px;
}
.cpicon a:hover{	background-color: #E9F0F7; color: #1E90FF; opacity: .5; border: 1px solid #1E90FF;}
.cpicon img { margin-top: 8px; margin-bottom: 8px; }
.cpicon span { display: block; font-weight: bold;}
.cpicon span.uno{ color: Blue; text-decoration: underline;}
.cpicon span.unor{ color: #CC0000; text-decoration: underline;}


/*========== xo_accordion.html ==========*/
#xo-accordion { height: auto; line-height: 1.4em;}
#xo-accordion dl { padding: 10px; border-radius:10px; -webkit-border-radius: 10px;-moz-border-radius: 10px; -khtml-border-radius: 10px; border: 1px solid #ccc;}
#xo-accordion a.ie { text-decoration: none; }
#xo-accordion dl dt { margin: 0;}
#xo-accordion dl dt a,	#xo-accordion dl a.ie dt { display: block; background: url(../img/tab_bg.png) repeat left; padding: 4px; text-align:center; font-weight: bold; color:#fff; text-decoration: none; text-shadow: 2px 2px 3px #aaa;}
#xo-accordion dd a { color: #666; text-shadow: 2px 2px 3px #aaa;}
#xo-accordion dd a:hover { color: #1E90FF;}
#xo-accordion dl dd{ margin: 0; height: 0; overflow: hidden; -webkit-transition: height 1s ease;}
#xo-accordion dl dd p { margin: 0;padding: 10px;}
#xo-accordion dl dd:target {height: auto;}
#xo-accordion dl a.ie:hover dd,#xo-accordion dl a.ie:focus dd{	height: auto; color: #cccccc !important;}	
@media (-webkit-transition) {#xo-accordion dl dd:target {height: auto;}}
#xo-accordion dl a.ie { text-decoration: none; }
#xo-accordion dl a.ie dd { display: none; }
#xo-accordion dd table { text-shadow: 2px 2px 3px #aaa;}
.xgiftshop {text-align: center;}
.menu_body {padding: 4px; text-shadow: 2px 2px 3px #aaa;}
.menu_body h3 { padding:4px; text-align: center;}
/* Fix IE6 hover bug */
#xo-accordion dl a.ie:hover {}
#xo-accordion dl a.ie dt { display: block; background: url(../img/tab_bg.png) repeat left;	padding: 4px;	font-weight: bold; text-decoration: none; text-align:center;}
#xo-accordion dl a.ie:hover dd,#xo-accordion dl a.ie:active dd,#xo-accordion dl a.ie:focus dd{	display: block; height: auto; color:#000 !important; text-shadow: 2px 2px 3px #aaa;}
/*========== xo_block.html ==========*/
/*#xo-blockcp { width: 100%; text-align:center;}
#xo-block { display: block; float: left; width: 23% !important; min-height:110px; height: auto; margin: 1em;
	border: 1px solid #ccc;	border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; -khtml-border-radius: 10px;}
.xo-blocktitle { background: url(../img/tab_bg.png) repeat left;  padding: 5px; font-size:1.1em; font-weight:bolder; text-align:center; text-shadow: 2px 2px 3px #aaa; color:#fff;
	border-radius-topleft:10px; border-radius-topright:10px;
	-moz-border-radius-topleft :10px; -moz-border-radius-topright :10px;
	-webkit-border-radius-topleft:10px; -webkit-border-radius-topright:10px;
	-khtml-border-radius-topleft: 10px; -khtml-border-radius-topright: 10px; }
.xo-blockcontent { margin : 0; padding :5px; line-height: 1.3em; }*/

/*========== xo_footer.html ==========*/
#xo-footer {background-color: #F1F1FC;	padding: 4px;	text-align: center;	color: #666; font-size: 10px; font-weight: bold;	border-bottom: 1px solid #ccc;	border-top: 1px solid #fff;}