/* $Id$ */
	/* ==================== General definitions ==================== */
html {
	
}

body {
	background-color: #EBE9E1;
	font-size: 11px;
	font-family: Verdana, tahoma, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}

img {
	border: none;
}

hr {
	height: 3px;
	border: 3px #E18A00 solid;
	width: 95%;
}

ul {
	margin: 2px;
	padding: 2px;
	list-style: decimal inside;
	text-align: left;
}

li {
	margin-left: 2px;
	list-style: square inside;
	color: #000000;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 16px;
}

h4 {
	font-size: 14px;
}

table {
	width: 100%;
}

th {
	background-color: #2e323b;
	color: #FFFFFF;
	padding: 4px;
	vertical-align: middle;
}

a:link {
	text-decoration: none;
	color: #4177A6;
	font-weight: bold;
	background-color: transparent;
}

a:visited {
	text-decoration: none;
	color: #4177A6;
	font-weight: bold;
	background-color: transparent;
}

a:hover {
	text-decoration: underline;
	color: #FF4500;
	font-weight: bold;
	background-color: transparent;
}

/* ==================== Code and Quote Definition ==================== */
.xoopsCode {
	font-size: 11px;
	color: #006600;
	background-color: #FAFAFA;
	border: #c2cdd6 1px dashed;
}

.xoopsQuote {
	font-size: 11px;
	color: #444444;
	line-height: 125%;
	text-align: justify;
	background-color: #FAFAFA;
	border: #c2cdd6 1px dashed;
}

/* ==================== Links for Quotes ==================== */
.xoopsQuote a:link,.xoopsQuote a:visited {
	color: #444444;
	font-weight: bold;
	background-color: transparent;
}

.xoopsQuote a:hover,.xoopsQuote a:active {
	color: #1778cb;
	background-color: transparent;
}

/* ==================== Redirect messages ==================== */
.errorMsg {
	background: #FBE3E4;
	color: #D12F19;
	text-align: center;
	border: 2px solid #FBC2C4;
	padding: 8px;
	font-weight: bold;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
}

.confirmMsg {
	background-color: #FFF09B;
	color: #FF4500;
	text-align: center;
	border: 1px solid #FFD700;
	font-weight: bold;
	width: 80%;
	margin: 0 auto;
	padding: 8px;
}

/* ==================== For redirect pages ====================*/
.message,.notreload {
	text-align: center;
}

/* ==================== General small ==================== */
.fontSmall {
	font-size: 10px;
	background-color: transparent;
}

a.fontSmall {
	color: #006699;
}

a.fontSmall:hover {
	color: #C23030;
	text-decoration: underline;
}

/*==================== forms elements ==================== */
input,textarea,select {
	border: 1px solid #CCCCCC;
	font-size: 11px;
	font-family: tahoma, Helvetica, sans-serif;
	background-color: #FFFFFF;
}

input:focus,textarea:focus,select:focus {
	border: 1px solid #999999;
}

.outer {
	width: 100%;
	border: 2px solid #CCCCCC;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}

.head {
	background-color: #AFAFAF;
	padding: 5px;
	font-weight: bold;
}

.even {
	background-color: #EFEFEF;
	padding: 5px;
	border-bottom: 1px solid #CCCCCC;
}

.odd {
	background-color: #DFDFDF;
	padding: 5px;
	border-bottom: 1px solid #CCCCCC;
}

.foot {
	background-color: #E1E7EF;
	padding: 5px;
	font-weight: bold;
}

tr.head td {
	background-color: #BDE3FB;
	padding: 5px;
	font-weight: bold;
}

tr.even td {
	background-color: #FFFFFF;
	padding: 5px;
	border-bottom: 1px solid #CCCCCC;
}

tr.odd td {
	background-color: #EFEFEF;
	padding: 5px;
	border-bottom: 1px solid #CCCCCC;
}

tr.foot td {
	background-color: #E1E7EF;
	padding: 5px;
	font-weight: bold;
}

/**
 * Declaraciones para nuevo formato
 * @author BitC3R0
*/ /*============================================================ */
#logoHead {
	padding: 0;
	text-align: left;
	background: url(../images/dark/dark-head.png) repeat-x;
	border-bottom: 1px solid #000;
	height: 72px;
}

#logoHead td.other {
	float: right;
	/*height:auto;*/
	width:50px;
}

#navbarCP {
	background: url(../images/dark/dark-menu.png) repeat-x;
	/*padding: 4px;*/
	border-top: 1px solid #000;
	border-bottom: 1px solid #ccc;
	font-weight: normal;
	font-family: tahoma, Helvetica, sans-serif;
	height: 28px;
	list-style: none;
}

#headnav {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;
}

/* ==================== start nav menu ==================== */
#navbarCP ul.menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

#navbarCP ul.menu * {
	margin: 0;
	padding: 0;
}

#navbarCP ul.menu a {
	display: block;
	color: #1F1F1F;
	text-decoration: none;
}

#navbarCP ul.menu li {
	position: relative;
	float: left;
	margin-right: 2px;
	list-style: none;
}

#navbarCP ul.menu ul {
	position: absolute;
	top: 26px;
	left: 0;
	background: #d1d1d1;
	display: none;
	opacity: 0;
}

#navbarCP ul.menu ul li {
	position: relative;
	border: 1px solid #aaa;
	border-top: none;
	width: 148px;
	margin: 0;
	list-style: none;
}

#navbarCP ul.menu ul li a {
	display: block;
	padding: 3px 7px 5px;
	background: #5F5F5F;
	color: #f7f7f7;
	/*background: #ddd  no-repeat left;
        padding-left: 20px;*/
}

#navbarCP ul.menu ul li a:hover {
	background-color: #333;
	color: #f7f7f7;
}

#navbarCP ul.menu ul ul {
	left: 148px;
	top: -1px;
	list-style: none;
}

#navbarCP ul.menu .menulink {
	border: 1px solid #333;
	padding: 5px 7px 4px;
	font-weight: bold;
	color: #ccc;
	background: url(../images/dark/dark-menu.png) repeat-x;
	width: 134px;
}

#navbarCP ul.menu .menulink:hover,ul.menu .menuhover {
	border: 1px solid #ccc;
	background: #333;
}

#navbarCP ul.menu .sub {
	background: #5F5F5F url(../images/arrow.gif) 136px 8px no-repeat;
	/*padding-left: 3px;*/
}

#navbarCP ul.menu .topline {
	border-top: 1px solid #aaa;
}

/* ==================== end nav menu ==================== */
#choosestyle a {
	font-family: tahoma, Helvetica, sans-serif;
	font-size: 10px;
	border: 1px solid #CCCCCC;
	margin: 2px 4px 2px 4px;
	float: right;
	background-color: #f9f9f9;
	color: #333;
	padding: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}

#choosestyle a:hover {
	background-color: #C2CEEF;
	color: #000;
	text-decoration: none;
}

#bodyCP {
	width: 95%;
	margin: 0 auto;
	background-color: #F7F7F7;
	border: 2px solid #ccc;
	padding: 8px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
}

#containBodyCP {
	padding: 0;
	margin: 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #666;
}

#navOptionsCP {
	padding: 0px 5px 0px 5px;
	height: 38px;
	background: url(../images/dark/dark-navcp.png) repeat-x;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

#navOptionsCP a {
	border: 1px solid #00536C;
	height: 32px;
	display: block;
	width: 32px;
	float: right;
	margin-right: 2px;
	margin-left: 0;
	margin-top: 1px;
	margin-bottom: 0
}

#navOptionsCP a:hover {
	background-color: #E0E6EF;
	border-color: #ADD8E6;
}

#navOptionsCP .modname {
	float: left;
	font-size: 18px;
	font-weight: bold;
	color: #1d1f24;
	margin-top: 4px;
}

#navOptionsCP .module {
	float: left;
	font-size: 18px;
	font-weight: bold;
	color: Silver;
	margin-top: 4px;
}

.CPrssLinks {
	padding: 4px;
}

.CPrssLinks a {
	font-size: 12px;
	background: url(../images/item.png) no-repeat left;
	padding: 2px;
	display: block;
	padding-left: 18px;
}

.CPfoot {
	padding: 4px;
	background-color: #333;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #666;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	color: #f7f7f7;
}

/* ==================== From the xoops.css  ==================== */
.CPbigTitle {
	font-size: 12px;
	color: #606060;
	background: no-repeat left top;
	font-weight: bold;
	height: 30px;
	vertical-align: middle;
	padding: 10px 0 0 40px;
	border-bottom: 3px solid #393e41;
}

.CPindexOptions {
	padding: 4px;
	vertical-align: top;
}

.CPmediumTitle {
	font-weight: bold;
	font-size: 14px;
	color: #FF4500;
}

.systemicons {
	height: 120px;
}

.cpiconmodules,.cpicon {
	margin: 3px;
	font-family: tahoma, Helvetica, sans-serif;
	text-align: center;
}

.cpiconmodules {
	min-height: 350px; /* for min height of module option*/
}

.cpicon a {
	display: block;
	float: left;
	height: 75px !important;
	height: 75px;
	width: 60px !important;
	width: 60px;
	vertical-align: middle;
	text-decoration: none;
	background-color: #f0f0f0;
	padding: 2px;
	margin: 3px;
	color: #666666;
	border: 1px solid #f9f9f9;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	-khtml-border-radius: 9px;
	border-radius: 9px;
}

.cpiconmodules a {
	display: block;
	float: left;
	height: 95px !important;
	height: 95px;
	width: 90px !important;
	width: 90px;
	vertical-align: middle;
	text-decoration: none;
	background-color: #f0f0f0;
	padding: 2px 5px 1px 5px;
	margin: 3px;
	color: #666666;
	border: 1px solid #f9f9f9;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
}

.cpicon a:hover,.cpiconmodules a:hover {
	color: #1E90FF;
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #f9f9f9;
}

.cpicon img,.cpiconmodules  img {
	margin-top: 8px;
	margin-bottom: 8px;
}

.cpicon span,.cpiconmodules span {
	font-size: 10px;
	font-weight: bold;
	display: block;
}

.cpicon span.uno,.cpiconmodules span.uno {
	font-size: 11px;
	font-weight: normal;
	text-decoration: underline;
	color: Blue;
}

.cpicon span.unor,.cpiconmodules span.unor {
	font-size: 11px;
	font-weight: normal;
	text-decoration: underline;
	color: #CC0000;
}

/* ==================== For accordion menu ====================*/
.menu_list {
	width: 100%;
}

.menu_head {
	padding: 5px 10px;
	cursor: pointer;
	position: relative;
	margin: 1px;
	background: url(../images/accordion.png) repeat-x !important;
	color: #FFFFFF;
	border: 1px solid #FFF;
	cursor: pointer;
	font-weight: bold;
}

.menu_body {
	display: none;
	background: #f1f1f1;
}

.menu_body a {
	display: block;
	color: #3E728F;
	padding-left: 10px;
	font-weight: bold;
	text-decoration: none;
}

.menu_body a:hover {
	color: #000000;
	text-decoration: none;
}

/* ==================== for xoops gift shop ====================*/
.xgiftshop {
	text-align: center !important;
}

/* ==================== for main logo ====================*/
#main_logo {
	float: left;
	background: url(../images/dark/header-logo_big.png) no-repeat !important
		;
	height: 72px !important;
	width: 160px !important;
}

/*==================== for module buttonbar =========================*/
#buttontop {
	background: #e7e7e7 !important;
	border-top: 1px solid #b7ae88 !important;
	border-left: 1px solid #b7ae88 !important;
	border-right: 1px solid #b7ae88 !important;
	margin: 0 !important;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-radius-topleft: 5px;
	-webkit-border-radius-topright: 5px;
	-khtml-border-radius-topleft: 5px;
	-khtml-border-radius-topright: 5px;
	border-radius-topleft: 5px;
	border-radius-topright: 5px;
}

#buttonbar {
	background: #e7e7e7 url(../images/bg.gif) repeat-x left bottom
		!important;
	border-left: 1px solid #b7ae88 !important;
	border-right: 1px solid #b7ae88 !important;
	margin-bottom: 12px !important;
}

#buttonbar ul {
	margin: 0 !important;
	margin-top: 15px !important;
	padding: 10px 10px 0 !important;
	list-style: none !important;
}

#buttonbar a {
	background: url(../images/left_both.gif) no-repeat left top !important;
	margin: 0;
	padding: 0 0 0 9px !important;
	border-bottom: 1px solid #b7ae88 !important;
	text-decoration: none !important;
}

#buttonbar a span {
	display: block !important;
	background: url(../images/right_both.gif) no-repeat right top !important
		;
	padding: 5px 15px 4px 6px !important;
	font-weight: bold !important;
	color: #765 !important;
}

#buttonbar a span {
	float: none !important;
}

#buttonbar a:hover span {
	color: #272727 !important;
}

#buttonbar #current a {
	background-position: 0 -150px !important;
	border-width: 0 !important;
}

#buttonbar #current a span {
	background-position: 100% -150px !important;
	padding-bottom: 5px !important;
	color: #272727 !important;
}

#buttonbar a:hover {
	background-position: 0% -150px !important;
}

#buttonbar a:hover span {
	background-position: 100% -150px !important;
}

/*==================== for tooltip =========================*/
#tooltip {
	position: absolute;
	border: 1px solid #333;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	background: #f7f5d1;
	padding: 2px 5px;
	color: #333;
	display: none;
}
