<h1 style="text-align:center;"><{$smarty.const._MD_ADMINER_TITLE}></h1>
<div style="margin-top: 2em; text-align:center;">
	<div style="margin-bottom:1.5em;"><img src="images/logo_adminer.png" alt="Adminer"/></div>
	<div style="display:block; width:50%; float:left;">
		<a rel="external" href="mysql.php" title="<{$smarty.const._MD_ADMINER_DBMANAG}>"><img src="images/database.png" alt="<{$smarty.const._MD_ADMINER_DBMANAG}>"/></a>
	</div>
	<div style="display:block; width:50%; float:left;">
		<a rel="external" href="editor.php" title="<{$smarty.const._MD_ADMINER_DBEDIT}>"><img src="images/database_edit.png" alt="<{$smarty.const._MD_ADMINER_DBEDIT}>"/></a>
	</div>
	<div style="display:block;">
		<a rel="external" href="dump.php" title="<{$smarty.const._MD_ADMINER_DBDUMP}>"><img src="images/database_dump.png" alt="<{$smarty.const._MD_ADMINER_DBDUMP}>"/></a>
	</div>
	<p style="text-align:right; font-size: .8em;"><a rel="external" href="http://www.adminer.org/" title="Adminer.org"><{$smarty.const._MD_ADMINER_WEB}></a> - <a rel="external" href="http://php.vrana.cz/architecture-of-adminer.php" title="<{$smarty.const._MD_ADMINER_DOCDSC}>"><{$smarty.const._MD_ADMINER_DOC}></a> - <a rel="external" href="http://tv.xoofoo.org/modules/mytube/singlevideo.php?cid=48&lid=226" title="<{$smarty.const._MD_ADMINER_DOCVIDDSC}>"><{$smarty.const._MD_ADMINER_DOCVID}></a></p>
</div>