<!-- $Id $ -->
<div id="Casper_Title" class="bold shadowlight alignmiddle">
    <div id="Casper_Help">
        <{$smarty.const._AM_CASPER_MANAGER_HELP}>
    </div>
    <div id="Casper_Action">
    </div>
</div>
<div id="myid">
	<{$smarty.const._AM_CASPER_HELP1}>
	<div class="width45 floatleft pad5">
	<{$smarty.const._AM_CASPER_HELP2}>
	<{$smarty.const._AM_CASPER_HELP3}>
	</div>
	<div class="width45 floatright pad5">
	<{$smarty.const._AM_CASPER_HELP4}>
	<{$smarty.const._AM_CASPER_HELP5}>
	<{$smarty.const._AM_CASPER_HELP6}>
	<{$smarty.const._AM_CASPER_HELP7}>
	</div>
</div>
<div class="clear"></div>